.m-page-flowgram
    padding: 50px 0 50px
    //color: white
    
    @media (min-width: $screen-sm-min)

    @media (min-width: $screen-md-min)

    @media (min-width: $screen-lg-min)

    @media (min-width: $screen-xl-min)

    .headlines-container

        .headline-container
        
            .headline
                
                
                

        .suheadline-container

            .subheadline
        

  
    .ImageContainer
        text-align: center
        position: relative
        width: 220px
        margin: 0 auto
        

        .numberContainer1
            left: 3.2%
            top: 6px
            
        .numberContainer2
            left: 50.4%
            top: 116px

        .numberContainer3
            left: 3.2%
            top: 222px      

        .numberContainer4
            left: 50.4%
            top: 332px

        .numberContainer5
            left: 3.2%
            top: 438px

        .numberContainer6
            left: 50.4%
            top: 549px   

        .numberContainer7
            left: 3.2%
            top: 654px
            
        
        
        
        .numberContainer
            position: absolute
            z-index: 1
            
            
            .numberBg1
                width: 103px
                height: 103px
                border-radius: 999999px
                background : -moz-linear-gradient(-213.06% 69.86% -105deg,rgba(255, 255, 255, 1) 0%,rgba(191, 191, 191, 1) 100%)
                background : -webkit-linear-gradient(-105deg, rgba(255, 255, 255, 1) 0%, rgba(191, 191, 191, 1) 100%)
                background : -webkit-gradient(linear,-213.06% 69.86% ,-238.95% 166.47% ,color-stop(0,rgba(255, 255, 255, 1) ),color-stop(1,rgba(191, 191, 191, 1) ))
                background : -o-linear-gradient(-105deg, rgba(255, 255, 255, 1) 0%, rgba(191, 191, 191, 1) 100%)
                background : -ms-linear-gradient(-105deg, rgba(255, 255, 255, 1) 0%, rgba(191, 191, 191, 1) 100%)
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#BFBFBF' ,GradientType=0)"
                background : linear-gradient(195deg, rgba(255, 255, 255, 1) 0%, rgba(191, 191, 191, 1) 100%)
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#BFBFBF' , GradientType=1)

                
            .numberBg2
      
                background : -moz-linear-gradient(-348% 130.19% 105deg,rgba(255, 255, 255, 1) 0%,rgba(191, 191, 191, 1) 100%)
                background : -webkit-linear-gradient(105deg, rgba(255, 255, 255, 1) 0%, rgba(191, 191, 191, 1) 100%)
                background : -webkit-gradient(linear,-348% 130.19% ,-373.89% 33.57% ,color-stop(0,rgba(255, 255, 255, 1) ),color-stop(1,rgba(191, 191, 191, 1) ))
                background : -o-linear-gradient(105deg, rgba(255, 255, 255, 1) 0%, rgba(191, 191, 191, 1) 100%)
                background : -ms-linear-gradient(105deg, rgba(255, 255, 255, 1) 0%, rgba(191, 191, 191, 1) 100%)
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#BFBFBF' ,GradientType=0)"
                background : linear-gradient(-15deg, rgba(255, 255, 255, 1) 0%, rgba(191, 191, 191, 1) 100%)
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#BFBFBF' , GradientType=1)
                
                
                
                z-index: 10
                top: 50%
                position: absolute
                left: 0
                right: 0
                margin: 0 auto
                width: 95px
                height: 95px
                border-radius: 9999px
                transform: translate(0, -50%)
                -webkit-transform: translate(0, -50%)
                
                
                
            .numberBg3
                background-color: $color-darkblue
                z-index: 20
                top: 50%
                position: absolute
                left: 0
                right: 0
                margin: 0 auto
                width: 72px
                height: 72px
                border-radius: 9999px
                transform: translate(0, -50%)
                -webkit-transform: translate(0, -50%)
                
                -webkit-transition: all .5s ease-out
                transition: all .5s ease-out

                .textnumber
                    color: white
                    position: absolute
                    left: 0
                    right: 0
                    margin: 0 auto
                    top: 50%
                    transform: translate(0, -50%)
                    -webkit-transform: translate(0, -50%)
                    text-align: center
                    opacity: 0

                    @include font_Karla_Bold()
                    @include fontsize(30px)
                    cursor: default
                        
                    -webkit-transition: all .5s ease-out
                    transition: all .5s ease-out
                        
                .textnumberAnimate
                    opacity: 1
                    
            .numberBg3GlowOdd
                box-shadow: 0px 0px 10px 3px rgba(255, 103, 35, 1)
                
        
            .numberBg3GlowEven
                box-shadow: 0px 0px 10px 3px rgba(46, 109, 237, 1)
            

                
        
        .flowbg
            width: 100%
            max-width: 220px
            height: auto
            
            
            
   
            
    .flowprocessTextContent
        padding: 0 0 0 0 
        list-style: none
        
        li
            margin: 0 0 0 0
            height: 215px
            position: relative
            opacity: 0
            
            -webkit-transition: all .3s ease-out
            transition: all .3s ease-out
            
            .headline
                display: block
                @include font_Karla_Bold()
                @include fontsize(16px)
                margin: 0 0 10px 0
                color: $color-darkblue
                -webkit-transition: all .3s ease-out
                transition: all .3s ease-out
                
                @media ( min-width: $screen-xl-min )
                    @include fontsize(20px)
                
                
            .headline::after
                -webkit-transition: all .3s ease-out
                transition: all .3s ease-out
                content: ""
                background-color: $color-darkgrey
                width: 65px
                height: 2px
                display: block
                margin: 1px auto 0
                @media ( min-width: $screen-md-min )
                    margin: 1px 0 0
                    
                    
                    
            .headlineOrangeGlow
                color: $color-orange
            .headlineOrangeGlow:after
                background-color: $color-orange
                
                
            .headlineBlueGlow
                color: rgba(46, 109, 237, 1)
            .headlineBlueGlow:after
                background-color: rgba(46, 109, 237, 1)
                    
                
            .textbox
                display: block
                //@include fontsize(14px)
                
                @media ( max-width: $screen-xl-min )
                    @include fontsize(14px)
                
  
        
        li:nth-child(odd)
            
            
        li:nth-child(even)
          
            
        li:first-child
           
        li.animateLeft
            left: 0
            opacity: 1
                
            
        li.animateRight
            left: 0
            opacity: 1
            
            
        li:last-child
            margin: 0 0 0 0

     
    .flowprocessTextContentRight
        padding: 130px 0 0 0
        @media (min-width: $screen-xl-min)
            padding: 130px 0 0 0
            
            
        li
            left: 50px
            
            
    .flowprocessTextContentLeft
        padding: 18px 0 0 0
        @media (min-width: $screen-xl-min)
            padding: 18px 0 0 0 
            
        li
            left: -50px
           
        
        
        
.m-page-flowgram-mobile
    
    ul.flowlistMobile
        list-style: none
        padding: 0
        
        li
            min-height: 119px

            .number
                min-height: 119px

        
        li
            margin: -5px 0 0 0
            clear: both
            .number
                margin: -3px 30px 0 0
                //width: 20%
                //display: inline-block
                position: relative
                float: left

                img.flowbg
                    width: 100%
                    max-width: 70px
                    height: auto
                    

                .numberContainer
                    position: absolute
                    z-index: 1
                    left: 3.5px
                    top: 3.5px


                    .numberBg1
                        position: relative
                        left: 1.1px
                        width: 62px
                        height: 62px
                        border-radius: 999999px
                        background : -moz-linear-gradient(-213.06% 69.86% -105deg,rgba(255, 255, 255, 1) 0%,rgba(191, 191, 191, 1) 100%)
                        background : -webkit-linear-gradient(-105deg, rgba(255, 255, 255, 1) 0%, rgba(191, 191, 191, 1) 100%)
                        background : -webkit-gradient(linear,-213.06% 69.86% ,-238.95% 166.47% ,color-stop(0,rgba(255, 255, 255, 1) ),color-stop(1,rgba(191, 191, 191, 1) ))
                        background : -o-linear-gradient(-105deg, rgba(255, 255, 255, 1) 0%, rgba(191, 191, 191, 1) 100%)
                        background : -ms-linear-gradient(-105deg, rgba(255, 255, 255, 1) 0%, rgba(191, 191, 191, 1) 100%)
                        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#BFBFBF' ,GradientType=0)"
                        background : linear-gradient(195deg, rgba(255, 255, 255, 1) 0%, rgba(191, 191, 191, 1) 100%)
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#BFBFBF' , GradientType=1)


                    .numberBg2

                        background : -moz-linear-gradient(-348% 130.19% 105deg,rgba(255, 255, 255, 1) 0%,rgba(191, 191, 191, 1) 100%)
                        background : -webkit-linear-gradient(105deg, rgba(255, 255, 255, 1) 0%, rgba(191, 191, 191, 1) 100%)
                        background : -webkit-gradient(linear,-348% 130.19% ,-373.89% 33.57% ,color-stop(0,rgba(255, 255, 255, 1) ),color-stop(1,rgba(191, 191, 191, 1) ))
                        background : -o-linear-gradient(105deg, rgba(255, 255, 255, 1) 0%, rgba(191, 191, 191, 1) 100%)
                        background : -ms-linear-gradient(105deg, rgba(255, 255, 255, 1) 0%, rgba(191, 191, 191, 1) 100%)
                        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#BFBFBF' ,GradientType=0)"
                        background : linear-gradient(-15deg, rgba(255, 255, 255, 1) 0%, rgba(191, 191, 191, 1) 100%)
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#BFBFBF' , GradientType=1)

                        z-index: 10
                        top: 50%
                        position: absolute
                        left: 2px
                        right: 0
                        margin: 0 auto
                        width: 58px
                        height: 58px
                        border-radius: 9999px
                        transform: translate(0, -50%)
                        -webkit-transform: translate(0, -50%)



                    .numberBg3
                        background-color: $color-darkblue
                        z-index: 20
                        top: 50%
                        position: absolute
                        left: 1px
                        right: 0
                        margin: 0 auto
                        width: 42px
                        height: 42px
                        border-radius: 9999px
                        transform: translate(0, -50%)
                        -webkit-transform: translate(0, -50%)

                        .textnumber
                            color: white
                            position: absolute
                            left: 0
                            right: 0
                            margin: 0 auto
                            top: 50%
                            transform: translate(0, -50%)
                            -webkit-transform: translate(0, -50%)
                            text-align: center

                            @include font_Karla_Bold()
                            @include fontsize(24px)

                    
            .textbox
                //display: inline-block
                vertical-align: top
                display: table
                
                
                .headline
                    display: block
                    @include font_Karla_Bold()
                    @include fontsize(16px)
                    margin: 0 0 10px 0
                    color: $color-darkblue
                
                .headline::after
                    content: ""
                    background-color: $color-darkgrey
                    width: 65px
                    height: 2px
                    display: block
                    margin: 1px 0 0
                    @media ( min-width: $screen-md-min )
                        margin: 1px 0 0
                    
                    
                .text
                    display: block
                    @include fontsize(13px)
                    line-height: 16px
                        
                        
        li:nth-child(odd)
            
            .textbox
                
                .headline
                    color: $color-orange
                .headline:after
                    background-color: $color-orange
            
            
        li:nth-child(even)
            .textbox
                
                .headline
                    color: rgba(46, 109, 237, 1)
                .headline:after
                    background-color: rgba(46, 109, 237, 1)
                
        li:first-child
                
        li:last-child
        
        
            
    
    