.m-page-team

    padding: 45px 0 30px
    background-color: $color-darkblue
    //background-color: grey
    color: $color-white
    
    @media (min-width: $screen-sm-min)
    
    @media (min-width: $screen-md-min)
        padding: 80px 0 70px

    @media (min-width: $screen-lg-min)
        padding: 78px 0 82px

    
    ul.memberList
        li:hover
            
            div.content
                opacity: 1
                
                @media (min-width: $screen-md-min)
                    bottom: 18px
            
            .shadow
                opacity: 1
        
        
    ul.memberList
        padding: 0
        list-style: none
        font-size: 0
        margin: 0
        overflow: hidden
        width: 100%
        text-align: center
        
        @media (min-width: $screen-xl-min)
           
        
        li
            display: inline-block
            width: 100%
            position: relative
            margin: 0 0 20px 0
            opacity: 0
            
            overflow: hidden
            vertical-align: top
            
            @media (min-width: $screen-md-min)
                max-width: 190px
                margin: 0 15px 15px 0

            @media (min-width: $screen-xl-min)
                max-width: 30%
                margin: 0 5% 20px 0
            
            div.content
                font-size: 16px
                position: absolute
                bottom: 15px
                width: 100%
                text-align: center
                color: $color-white
                z-index: 2
                -webkit-transition: all .5s ease-out
                transition: all .5s ease-out
                
                
                @media (min-width: $screen-md-min)
                    opacity: 0
                    bottom: -55px
                
                .name
                    @include fontsize(18px)
                    @include font_Karla_Bold()
                        
                    @media (min-width: $screen-xl-min)
                        @include fontsize(20px)
                        
                .name:after
                    content: ""
                    background-color: $color-white
                    width: 36px
                    height: 2px
                    display: block
                    margin: 5px auto 4px
                    
                    
                .position
                    @include fontsize(13px)
                    @include font_Karla_Regular()
                    
                    @media (min-width: $screen-xl-min)
                        @include fontsize(16px)
                        
            li:first-child
            
            
            li:last-child
                        
                        
            
               
            
                    
            .shadow

                
                -webkit-transition: all .5s ease-out
                transition: all .5s ease-out
                
                background: -moz-linear-gradient(top,  rgba(0,0,0,0) 33%, rgba(0,0,0,0.65) 100%)
                background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 33%,rgba(0,0,0,0.65) 100%)
                background: linear-gradient(to bottom,  rgba(0,0,0,0) 33%,rgba(0,0,0,0.65) 100%)
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 )

                width: 100%
                padding-bottom: 100%
                position: absolute
                
                
                @media (min-width: $screen-md-min)
                    opacity: 0
                    
                    
            .articleImage
                width: 100%
                height: auto
                    
        li:last-child
            margin: 0 0 0 0
        
        
    
    .imageBox
        
        @media (min-width: $screen-sm-min)
        
        @media (min-width: $screen-md-min)

        @media (min-width: $screen-lg-min)


    .contentContainer
        text-align: center
        
        @media (min-width: $screen-md-min)

        @media (min-width: $screen-lg-min)

        @media (min-width: $screen-xl-min)
 
        .headlineSection
            
            margin: 0 0 40px 0
            
            @media (min-width: $screen-md-min)
            
                margin: 0 0 45px 0
                
            @media (min-width: $screen-lg-min)
                margin: 0 0 40px 0
                
            
            
        .headlineSection:after
            background-color: white
            


        .textBox
            margin: 0 0 50px 0
            
            @media (min-width: $screen-md-min)
            
                margin: 0 0 45px 0
            
                
            @media (min-width: $screen-lg-min)
                margin: 0 0 49px 0
            
            

