.m-page-hero-slider-height


.m-page-hero
    overflow: hidden
    padding-bottom: 25px
    
    @media (min-width: $screen-md-min)
        padding-bottom: unset
    
    
    .slideHeight,
    .slideHeight .owl-stage-outer
        height: 230px
        
        @media (min-width: $screen-md-min)
            height: 450px
        
        @media (min-width: $screen-lg-min)
            height: 572px
        
        @media (min-width: $screen-lg-min)
            height: 572px   
            
            
    .slideHeightFull,
    .slideHeightFull .owl-stage-outer
        height: 75vh
        
        @media (min-width: $screen-md-min)
            height: 75vh
        
        @media (min-width: $screen-lg-min)
            height: 75vh
        
        @media (min-width: $screen-lg-min)
            height: 75vh             
            
        @media (min-width: $screen-xl-min)
            height: calc( 100vh - 57px)         
            
            
    
    .containerSlider

        
        .owlCarouselHero
            height: 100%
            
            .owl-stage-outer
             
                
                .owl-stage
                    height: 100%
                    
                    .owl-item
                        height: 100%
                        .slide
                            height: 100%
                            background-repeat: no-repeat
                            background-size: cover
                            background-position: top center
                            
                            
                            .contentContainer
                                text-align: center
                                top: 50%
                                position: absolute
                                left: 0
                                right: 0
                                transform: translate(0, -50%)
                                -webkit-transform: translate(0, -50%)
                                opacity: 0
                                margin-top: 50px
                                
                                transition: all 1s
                                -webkit-transition: all 1s
                                
                                transition-delay: 0.2s
                                -webkit-transition-delay: 0.2s
                                
                                @media (min-width: $screen-md-min)
                                    width: 80%
                                    margin: 50px auto 0
                                    
                                @media (min-width: $screen-lg-min)
                                    width: 70%
                                    transform: translate(0, -25%)
                                    -webkit-transform: translate(0, -25%)
                                    
                                @media (min-width: $screen-xl-min)
                                    width: 50%
                                    
                                @media (min-width: 1900px)
                                    width: 40%
                                    
                                @media (min-width: 2200px)
                                    width: 30%
                                
                                
                                .text
                                    color: white
                                    @include font_Karla_Bold()
                                    @include fontsize(17px)
                                    line-height: 25px
                                    width: 80%
                                    margin: 0 auto
                                        
                                    
                                    @media (min-width: $screen-md-min)
                                        @include fontsize(25px)
                                        width: 100%
                                        line-height: 35px
                                    
                                    @media (min-width: $screen-lg-min)
                                        @include fontsize(30px)
                                        line-height: 45px
                                        
                                    @media (min-width: $screen-xl-min)
                                        @include fontsize(36px)
                                        line-height: 45px                                                        
                                        
                            .contentContainerAnimation
                                opacity: 1
                                margin-top: 0
                                
                                
                                
                            .buttonContainer
                                margin: 20px 0 0 0
                                @media (min-width: $screen-md-min)
                                    margin: 40px 0 0 0
                                
                                .buttonSlide
                                    background-color: $color-orange
                                    border: 1px solid $color-white
                                    border-radius: 9999999px
                                    padding: 0px 27px
                                    color: $color-white
                                    @include font_Karla_Bold()
                                    @include fontsize(12px)
                                    outline: 0
                                    display: inline-block
                                    
                                    @media (min-width: $screen-md-min)
                                        @include fontsize(14px)
                                        padding: 4px 43px
                                        
                                    @media (min-width: $screen-xl-min)
                                        @include fontsize(15px)
                                        padding: 4px 43px

                                .buttonSlide:hover,
                                .buttonSlide:focus, 
                                .buttonSlide:target, 
                                .buttonSlide:active 
                                    background-color: $color-orange
                                    color: $color-white
                                    border: 1px solid $color-white
                                
                            
            .owl-dots
                margin-top: 5px
                z-index: 10
                position: relative
                
                @media (min-width: $screen-md-min)
                    margin-top: -85px
                
                .owl-dot
                    outline: 0
                    span
                        background-color: $color-orange
                        opacity: .7
                        width: 8px
                        height: 8px
                        border-radius: 9999px
                       
                    
                .owl-dot.active
                    span
                        background-color: $color-orange
                        border: 1px solid white
                        opacity: 1
  
                        
    .ctrlButtonContainer
        display: none
        
        @media (min-width: $screen-lg-min)
            display: block
        
            position: absolute
            z-index: 10
            width: 100%
            pointer-events: none
            //margin-top: 250px
        .ctrlButton
            display: inline-block
            cursor: pointer
            position: absolute
            top: 50%
            transform: translate(0px, -50%)
            -webkit-transform: translate(0px, -50%)
            pointer-events: all
            
            img
                width: 100%
                max-width: 20px
                height: auto
            
            
        .ctrlButtonNext
            left: 0
            
            
        .ctrlButtonPrev
            position: absolute
            
            right: 30px
            
            
            
    .arrowSliderDown
        width: 50px
        height: 50px
        background-color: $color-orange
        z-index: 2
        margin: 0 auto
        display: none
        left: 0
        right: 0
        position: absolute
        bottom: 0
        cursor: pointer
        
        @media (min-width: $screen-xl-min)
            display: block
        
        
        
        .arrowSliderDownIcon
            transform: translate(-50%,-70%) rotate(-45deg)
            -webkit-transform: translate(-50%,-70%) rotate(-45deg)
            position: absolute
            border-style: none none solid solid
            border-width: 2px
            border-color: white
            display: block
            width: 37%
            height: 37%
            left: 50%
            top: 50%
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
        
