.m-page-list-products-single
    padding: 50px 0 50px
    //color: white

    @media (min-width: $screen-sm-min)

    @media (min-width: $screen-md-min)

    @media (min-width: $screen-lg-min)

    @media (min-width: $screen-xl-min)

        
        
    .rowMarginBottom    
        margin-bottom: 130px

    .imageContainer
        text-align: center
        margin: 0 0 30px 0
        
        @media (min-width: $screen-md-min)
            //text-align: left
            text-align: center
        
        img
            width: 100%
            max-width: 256px
            height: auto

            
    .headline
        margin: 0 0 20px 0
        text-align: center
        @include font_Karla_Bold()
        color: $color-darkblue
        @include fontsize(20px)
        position: relative
  
        @media ( min-width: $screen-md-min )
            @include fontsize(20px)
            text-align: left
        @media ( min-width: $screen-xl-min )
            @include fontsize(30px)
        
    .headline:after
        content: ""
        background-color: $color-darkblue
        width: 65px
        height: 2px
        display: block
        //margin: 5px 0 0 0
        position: absolute
        bottom: -8px
        right: 0
        left: 0
        margin: 0 auto


        @media (min-width: $screen-md-min)
            right: unset
            margin: unset  
        
    .textbox
        margin: 0 0 30px 0
        @media (min-width: $screen-xl-min)
            //@include fontsize(24px)
            //line-height: normal
        
        
    .buttonContainer
        text-align: center
        @media (min-width: $screen-md-min)
            text-align: left
        
        .buttonProduct
            
            
            
    .mouseover:hover
        .headline
            color: $color-orange

        .headline:after
            background-color: $color-orange


        .buttonProduct
            background-color: $color-orange
            color: $color-white
            border: 1px solid $color-white