.m-page-configurator-texthint
    padding: 45px 0 45px
    background-color: $color-lightestgrey
    text-align: center
    
    @media (min-width: $screen-sm-min)

    @media (min-width: $screen-md-min)
        padding: 65px 0 70px

    @media (min-width: $screen-lg-min)

    @media (min-width: $screen-xl-min)
        
        
 
    .headlineContainer
        margin: 0 0 50px 0
        
        @media (min-width: $screen-md-min)
            margin: 0 0 70px 0
        
        .headline
            @include fontsize(18px)
            @include font_Karla_Bold()
            margin: 0 0 0 0
            color: $color-darkblue
            
            
            
    .imageContainer
        margin: 0 0 80px 0
        @media (min-width: $screen-md-min)
            margin: 0 0 65px 0
        
        
        img
            width: 100%
            height: auto
            max-width: 450px
        
        
    .textboxContainer
