.page404
    
    padding: 60px 0 60px 0
    @media (min-width: $screen-md-min)
        padding: 120px 0 120px 0
    
    color: black
    
    
    
    .headlines-container
        
        .headline-container
            
            
            .headline
                text-align: center
                @include fontsize(35px)
                @include font_Karla_Bold()
                color: $color-darkblue
                
                @media (min-width: $screen-md-min)
                    @include fontsize(70px)
                
                
            .headline:after
                
                

            
    .textcontainer
        text-align: center
        @include fontsize(14px)
        margin: 45px 0 60px 0
        
        @media (min-width: $screen-md-min)
            @include fontsize(18px)
                
            margin: 60px 0 120px 0
        
        
        

        
    .buttonContainer1,
    .buttonContainer2
        text-align: center

    .buttonContainer1
        margin: 0 0 25px 0
        
        @media (min-width: $screen-md-min)
            margin: 0 0 0 0
        

        .button


    .buttonContainer2

        .button