.footerContactContainer
    background-color: $color-darkblue
    padding: 40px 0 30px
    
    
    .logoContainer
        margin: 0 0 20px 0
        
        @media ( min-width: $screen-md-min )
            margin: 0 0 30px 0
        
        .footerlogo
            
            width: 100%
            height: auto
            max-width: 50px
            
            
    .marginboxes
        margin: 0 0 30px 0
        
        @media ( min-width: $screen-md-min )
            margin: 0 0 0 0
            
    .line
        
    .line:before
        content: ""
        background-color: white
        width: 23px
        height: 2px
        display: block
        margin: 0 0 7px 0
    
    .footerContactText
        @include font_Karla_Regular()
        @include fontsize(13px)
        line-height: normal
        line-height: 14px
        color: white
        
        @media ( min-width: $screen-xl-min )
            line-height: 26px
            @include fontsize(16px)
        
        
        a
            color: white
            
        a:hover,
        a:target,
        a:active,
        a:focus
            color: white
        
        
        ul#footercontactlinks
            padding: 0
            list-style: none
            
            
            li
                margin: 0 0 5px 0
                @media ( min-width: $screen-md-min )
                    margin: 0 0 15px 0
                
            li:last-child
                margin: 0 0 0 0
            
            
            
        ul.socialContainer
            padding: 0
            list-style: none
            margin: 0 0 16px 0
            
            li
                display: inline-block
                margin:  0 5px 0 0
                
                .iconocial
                    width: 100%
                    max-width: 12px
                    height: auto
                
                
            li:last-child
                margin: 0 0 0 0
            
            
            
        ul.lngContainer
            padding: 0
            list-style: none
            li
                display: inline-block
                text-transform: uppercase
                
                span
                    padding: 0 7px
                    
                
                
            li:last-child
                span
                    display: none
                    padding: 0px
    


footer
    background-color: $color-darkgrey
    color: $color-white
    padding: 13px 0 13px 0
    
    @media ( min-width: $screen-sm-min )
    
    @media ( min-width: $screen-md-min )
        
    @media ( min-width: $screen-lg-min )

    @media ( min-width: $screen-xl-min )
        
        
        
    .textinfo
        
        @include font_Karla_Regular()
        @include fontsize(11px)
            
            
        @media ( min-width: $screen-xl-min )
            @include fontsize(13px)