
//----------------------------------------------------------------;
// Global Stylings
//----------------------------------------------------------------;


html
    scroll-padding-top: 100px

html,body
    //height: 100%
    //background-color: $color-white
    
  
body
    background-color: $color-white
    font-size: $defaultFontSize
    line-height: $defaultLineHeight
    @include font_Karla_Regular
    color: $color-darkgrey

    -webkit-font-smoothing: antialiased
    font-smoothing: antialiased
    //min-height: 100%
    //height: 100vh
    
    
    @media (min-width: $screen-md-min)
        @include fontsize(17px)
    

    p
        margin: 0

    a
        color: $color-orange
        
    a:hover,
    a:target,
    a:focus,
    a:active
        text-decoration: none
        color: $color-orange
    
    b, strong
        @include font_Karla_Bold
            
    

//----------------------------------------------------------------;
// Height 100%, on sended Page for Contact you can see it best
// reset for Internet explorer
//----------------------------------------------------------------;
            
body
    min-height: 100vh
    display: flex
    flex-direction: column
            
    
.body-content-wrapper
    flex: 1
    position: relative
    //z-index: 1
    padding-top: 57px

body[data-browser="Internet Explorer"]
    display: inherit
    flex-direction: inherit
    
.body-content-wrapper[data-browser="Internet Explorer"]
    flex: inherit
    
    
//----------------------------------------------------------------;  
// container custom width
//----------------------------------------------------------------;     
    
.container-custom-width
    @media (min-width: 1400px)
        max-width: 1300px
        //background-color: lightsalmon
        //padding-left: 30px
        //padding-right: 30px
        
    @media (min-width: 1600px)
        max-width: 1400px
        //background-color: salmon
    
//----------------------------------------------------------------;  
// headline
//----------------------------------------------------------------;     
    
    
    
.headlineSection
    @include font_Karla_Bold()
    @include fontsize(20px)
    line-height: normal
    @media ( min-width: $screen-md-min )
        @include fontsize(30px)
    
.headlineSection:after
    content: ""
    background-color: $color-darkblue
    width: 65px
    height: 2px
    display: block
    
    
.headlineSectionLineLeft   
.headlineSectionLineLeft:after
    margin: 10px auto 0
    @media ( min-width: $screen-md-min )
        margin: 10px 0 0
    
.headlineSectionLineCentered    
.headlineSectionLineCentered:after
    margin: 10px auto 0
    
    
    
//----------------------------------------------------------------;  
// Modals
//----------------------------------------------------------------;   
    
.modal-open
    padding-right: 0 !important
    
    .modal
        padding-right: 0 !important
    
    
.modal-backdrop
    background-color: #131313
    
    
.modal-backdrop.show
    opacity: 0.8
    
    
//----------------------------------------------------------------;   
// the-content
//----------------------------------------------------------------;     
    
    
.the-content
    
    h1
        @include font_Karla_Bold()
        margin: 0 0 15px 0
        @include fontsize(30px)

    h2
        @include font_Karla_Bold()
        margin: 0 0 15px 0
        @include fontsize(25px)

        
    h3,h4,h5,h6
        @include font_Karla_Bold()
        margin: 0 0 15px 0
        @include fontsize(20px)
        
        
    b,strong
        @include font_Karla_Bold()
        
        
    ul
        padding: 0
        list-style: disc inside
        margin: 0 0 15px 0
        li
            
          
            
            
    ol
        padding: 0
        list-style: decimal inside
        margin: 0 0 15px 0
        
        li
    
    
    
//----------------------------------------------------------------;    
// Buttons
//----------------------------------------------------------------;  
      
    
.button95Light
    background-color: $color-white
    border: 1px solid $color-darkblue
    border-radius: 9999999px
    padding: 3px 35px
    color: $color-darkblue
    @include font_Karla_Bold()
    outline: 0
    display: inline-block
    
    
.button95Light:hover,
.button95Light:focus, 
.button95Light:target, 
.button95Light:active 
    background-color: $color-orange
    color: $color-white
    border: 1px solid $color-white

    
.button95Dark
    background-color: $color-orange
    border: 1px solid $color-white
    border-radius: 9999999px
    padding: 3px 35px
    color: $color-white
    @include font_Karla_Bold()
    outline: 0
    display: inline-block
    
    
.button95Dark:hover,
.button95Dark:focus, 
.button95Dark:target, 
.button95Dark:active 
    background-color: $color-orange
    color: $color-white
    border: 1px solid $color-white
    
    
    

    
SCSS SYNTAX

$anipluscustom: 250
$anipluscustomtiming: 1

@for $i from 1 through 50
    .customdelay-#{$anipluscustom}
        -webkit-animation-delay: $i * 0.1s
        -moz-animation-delay: $i * 0.1s
        -o-animation-delay: $i * 0.1s
        animation-delay: $i * 0.1s
    
    $anipluscustom: $anipluscustom + 250
    $anipluscustomtiming: $anipluscustomtiming +1

    
    
    
    
    
    
    
