header
   
    background-color: white
    position: fixed
    z-index: 99
    width: 100%

    @media ( min-width: $screen-sm-min )
    
    
        
        
        
    @media ( min-width: $screen-lg-min )

    @media ( min-width: $screen-xl-min )
        
        
    .container-fluid-max-width
        
        @media ( min-width: $screen-lg-min )
            max-width: 2000px
        
    .container
        
        @media ( max-width: $screen-sm-max )
            max-width: initial
        

    .topNavigation
        color: $color-darkgrey
        height: 57px
        //background-color: yellow

        .h100
            height: 100%

        .rightContent
            float: right
            margin-right: 5px
            
            .lngContainer,
            .searchContainer
                display: none
                @media ( min-width: $screen-md-min )
                    display: inline-block
                
                
            .searchContainer
                margin: 0 0 0 30px
                
                
                .icon
                    cursor: pointer
                    width: 100%
                    max-width: 18px
                    height: auto
                
            .lngContainer
                z-index: 1
                position: absolute
                right: 60px
                top: 0
                .languages
                    background-color: white
                    padding: 2px 10px 10px
                    border-radius: 3px
                    text-align: center
                    text-transform: uppercase
                    @include font_Karla_Bold()
                    @include fontsize(13px)

                    //position: relative
                    //top: 20px
                    overflow: hidden
                    height: 30px
                    div:first-child
                        pointer-events: none
                        padding: 0 0 6px 0
                    
                    div
                        //margin: 0 0 10px 0
                        border-bottom: 1px solid $color-textgrey
                        padding: 4px 0 6px 0
                        a
                            color: $color-textgrey
                        
                        
                    div:last-child
                        border-bottom: none
                        padding-bottom: 0
                        margin: 0 0 0 0

           

        
        #sitelogo
            display: inline-block
            margin: 5px 32px 0 0

            .logo
                width: 100%
                max-width: 52px
                height: auto


                @media ( min-width: $screen-lg-min )
                    max-width: 52px
                    height: auto

        .desktopHamburgerContainer

            display: inline-block
            cursor: pointer


                
            .hamburg
                display: block
                background: $color-white
                width: 16px
                height: 12px
                position: relative
                margin-left: auto 
                margin-right: auto
                //top: 3px
                //top: -2px
                top: 2px
                //border-radius: 4px
                //transition: border-radius .5s

            .line 
                position: absolute
                left: 0
                height: 2px
                width: 100% 
                background: black
                border-radius: 2px
                display: block
                transition: 0.5s
                transform-origin: center
            

            .line:nth-child(1) 
                top: 0
            .line:nth-child(2) 
                top: 6px
            .line:nth-child(3) 
                top: 11px

            .hamburg.checked .line:nth-child(1)
                transform: translateY(0) rotate(-45deg)
                top: 4px
            

            .hamburg.checked .line:nth-child(2)
                opacity: 0
            

            .hamburg.checked .line:nth-child(3)
                transform: translateY(0) rotate(45deg)
                top: 4px
            
                
                
        .mobileHamburgerContainer

            display: inline-block
            cursor: pointer
            float: right

            .hamburg
                display: block
                background: $color-white
                width: 16px
                height: 12px
                position: relative
                margin-left: auto 
                margin-right: auto
                //top: 10px
                top: 14px
                //border-radius: 4px
                //transition: border-radius .5s

            .line 
                position: absolute
                left: 0
                height: 2px
                width: 100% 
                background: black
                border-radius: 2px
                display: block
                transition: 0.5s
                transform-origin: center
            

            .line:nth-child(1) 
                top: 0
            .line:nth-child(2) 
                top: 6px
            .line:nth-child(3) 
                top: 11px

            .hamburg.checked .line:nth-child(1)
                transform: translateY(0) rotate(-45deg)
                top: 4px
            

            .hamburg.checked .line:nth-child(2)
                opacity: 0
            

            .hamburg.checked .line:nth-child(3)
                transform: translateY(0) rotate(45deg)
                top: 4px
                
                
                
         
    .menueNavigationDesktop
        display: none
        @media ( max-width: $screen-md-max )
            display: none !important
                
                
    .menueNavigationDesktop
        position: relative
        
        background-color: $color-white

        ul#menueNavigation
            list-style: none
            padding: 0
            margin: 30px 0 30px 10px
            position: relative
            @include font_Karla_Bold
            @include fontsize(15px)
            padding-left: 95px
            //margin-left: 88px
            //height: 0
            
            
            //-webkit-transition: height 1s ease
            //transition: height 1s ease
            
            li
                margin: 0 0 8px 0

                
  
                
            li.current_page_parent,
            li.current-menu-item     
                & > a
                    //color: $color-darkblue
                
            
            & > li 
                width: 160px
                //position: relative
                
                .clickedText
                    color: $color-darkblue
                
                & > a
                    color: $color-textgrey
                    //background-color: yellow
                    display: block
                    
                    
                & > a:hover
                    color: $color-darkblue
   
            & > li.menu-item-has-children
                
                
                
                    
            & > li.menu-item-has-children:after
                content: ""
                width: 5px
                height: 8px
                background-image: url('../../images/menue/Icon_Menu_Submenu_light grey.jpg')
                background-size: 5px 8px
                display: inline-block
                background-position: top center
                float: right
                margin: 6px 0 0 0
                //position: absolute
                //right: 0
                //top: 50%
                //transform: translate(0, -4px)
                //-webkit-transform: translate(0, -4px)
                
                
                margin: -16px 0 0 0
                posposition: absolute
                left: 245px 
                
        ul.sub-menu
            //display: none
            position: absolute
            left: 285px
            top: 0
            list-style: none
            padding: 0
            opacity: 0
            
            li
                & > a
                    color: $color-textgrey
                    
                & > a:hover
                    color: $color-darkblue         
                

        .menueinfotext
            display: none
            
            background-color: $color-menueLightGrey
            padding: 0
            margin: 0
            padding: 30px 30px 30px 30px 
            list-style: none
            height: 100%
            line-height: normal
            width: 100%
            max-width: 430px
            float: right
                
            li
                display: none
                color: $color-darkblue
                .headline
                    
                    @include fontsize(14px)
                    @include font_Karla_Bold()
                    margin: 0 0 10px 0 
                    
                .textbox
                    @include fontsize(14px)
                    @include font_Karla_Regular()
                        
                        
            li:first-child
                display: block
                
                
                
                

    ul#menue-navigation-main
        padding: 0
        margin: 0
        list-style: none
        li
            display: inline-block
            padding: 0 10px 0 0

        li:first-child

        li:last-child
            padding: 0 10px 0 0
        
        
        
        
.menueNavigationMobile
    display: none
    @media ( min-width: $screen-lg-min )
            display: none !important
        
        
        
//--------------------------;
// Mobile
//--------------------------;
        
        
.menueNavigationMobile
    height: 100vh

    .navigationContainer
        background-color: $color-white
        width: 200vw
        
        
        ul#menueNavigationMobile
            margin: 0
            padding: 0
            width: 100vw
            position: relative
            @include fontsize(13px)
            @include font_Karla_Bold()
            
            
            li
                margin: 0 0 8px 0
            
            
            li.current-page-ancestor,
            li.current_page_item    
                & > a
                    color: $color-darkblue
            
            
            & > li
                list-style: none
                
                & > a
                    color: $color-textgrey
                
                
            & > li.menu-item-has-children:after
                content: ""
                width: 5px
                height: 8px
                background-image: url('../../images/menue/Icon_Menu_Submenu_light grey.jpg')
                background-size: 5px 8px
                display: inline-block
                background-position: top center
                float: right
                margin: 6px 30px 0 0
                

        ul.sub-menu
            position: absolute
            left: 100vw
            top: 43px
            padding: 0
            margin: 0
            list-style: none
            display: none
            height: 80px
            overflow-y: auto
            width: 100%
            //background-color: lightgrey
            height: 75vh
            
            li
                & > a
                    color: $color-textgrey
            
      
    .searchContainerMobile
        background-image: url('../../images/modal_search/Icon_Search_grey_mobile.png')
        background-size: 10px 10px
        background-repeat: no-repeat
        background-position: right center
        margin: 0 0 10px 0
        display: inline
        .content
            display: inline-block
            width: 100%
        
        
        .content
            
            .text
                @include font_Karla_Bold()
                @include fontsize(13px)
                color: $color-textgrey
                border-bottom: 1px solid white
                
            .searchcontainer
                display: none
                
                
                #searchformMobile
                    
                    .search-field-mobile
                        border: none
                        border-bottom: 1px solid $color-textgrey
                        width: 90%
                        outline: 0
                        @include fontsize(13px)
                        @include font_Karla_Bold()
                        color: $color-textgrey
                        margin: 0 0 5px 0
                        

    .mobileLanguageSwitcherContainer
        
        ul
            list-style: none
            padding: 0
            li
                display: inline-block
                margin: 0 0 0 0
                text-transform: uppercase
                @include font_Karla_Bold
                @include fontsize(13px)
                color: $color-textgrey
                
                a
                    color: $color-textgrey
                    
                    
                span
                    display: inline-block
                    padding: 0 10px

                    
            li:last-child
                margin: 0 0 0 0
                span
                    display: none
            
            
            
    .submenueHeaderContainer
        width: 200vw
        
        .submenueHeaderContainerHeadline
            margin-left: 100vw
            display: inline-block
            top: 30px
            z-index: 30
            position: relative
            color: $color-darkblue
            
            .text
                @include fontsize(13px)
                @include font_Karla_Bold()
                margin: 0 0 15px 0
            
            .icon
                width: 100%
                height: auto
                max-width: 5px
                //margin: 0 3px 0 0
                float: left
                margin: 8px 5px 00
            
        
        
                
                
            
        