#searchmodal
    color: red
    
    .modal-dialog
        max-width: none
        .modal-content
            background-color: transparent
            border: none
            
            .modal-body
                
                .content
                    text-align: center
                    
                    .headline
                        color: $color-white
                        @include font_Karla_Bold()
                        @include fontsize(30px)
                       
                        display: inline-block
                        margin-bottom: 46px
                    
                    .headline:after
                        content: ""
                        width: 100%
                        max-width: 65px
                        height: 3px
                        background-color: $color-white
                        display: block
                        //margin-top: 13px
                        margin: 13px auto 0
                        
                    .searchFormcontainer
                        width: 100%
                        max-width: 730px
                        margin: 0 auto
                        #searchform
                            width: 100%
                            
                            .search-field,
                            .searchsubmit
                                height: 46px


                            .search-field
                                border: 0
                                background-color: $color-white
                                border-radius: 22px 0px 0 22px
                                padding: 4px 4px 4px 24px
                                width: calc(100% - 35px)
                                outline: 0

                            .searchsubmit
                                background-image: url('../../images/modal_search/Icon_Search_grey.png')
                                background-size: 18px
                                display: inline-block
                                background-position: center right 15px
                                background-repeat: no-repeat
                                font-size: 0
                                vertical-align: top
                                border: 0
                                background-color: $color-white
                                padding: 4px
                                border-radius: 0 22px 22px 0
                                width: 35px