.singleprojects

    padding: 0 0 55px 0
    
    @media ( min-width: $screen-md-min )
        padding: 60px 0 70px 0
    
    @media ( min-width: $screen-xl-min )
        padding: 135px 0 115px 0
        

    
    ul.referenznavigationMobile
        

    ul.referenznavigation
        list-style: none
        padding: 0
        margin: 35px 0 65px 0
        
        @media ( min-width: $screen-xl-min )
            margin: 0 0 60px 0

        li
            color: $color-orange
            list-style: none
            vertical-align: top
            display: inline-block

        li:last-child



        li.arrow
            img
                width: 100%
                height: auto
                max-width: 15px

        li.back
            
            a
                font-size: 0
                background-image: url("../../images/referenzen/Icon_Previous_Project_grey.jpg")
                background-repeat: no-repeat
                background-size: 15px 25px
                width: 15px
                height: 25px
                display: block

        li.next
            
            a
                font-size: 0
                background-image: url("../../images/referenzen/Icon_Next_Project_grey.jpg")
                background-repeat: no-repeat
                background-size: 15px 25px
                width: 15px
                height: 25px
                display: block

                
        li.pagination
            @include font_Karla_Bold()
            @include fontsize(23px)
            margin: 0px 20px 0 15px


    .projectscontent
        //background-color: red
        

        @media ( min-width: $screen-lg-min )
            //position: fixed
            //max-width: 350px
        @media ( min-width: $screen-xl-min )
            position: fixed
            max-width: 680px
        

            
        .projectscontentTextBox
            @media ( min-width: $screen-xl-min )
            
                padding: 0 30px 0 0

            
            .headline
                margin: 0 0 45px 0
                text-align: left
                @include font_Karla_Bold()
                @include fontsize(20px)
                line-height: normal
                color: $color-darkblue
                
                @media ( min-width: $screen-xl-min )
                    text-align: left
                    margin: 0 0 55px 0
                    @include fontsize(30px)

            .headline:after
                content: ""
                background-color: $color-darkblue
                width: 65px
                height: 2px
                display: block     
                margin: 8px 0 0 0
                @media ( min-width: $screen-xl-min )
                    


            .description

    ul.projectsImages
        padding: 0
        list-style: none
        padding: 60px 0 0 0
        
        @media ( min-width: $screen-xl-min )
            padding: 92px 0 0 0
        
        
        li
            
            margin: 0 0 30px 0
            
            img
                width: 100%
                height: auto
                max-width: 100%
            
        
        li:last-child
            margin: 0 0 0 0
		
		
		
.singlenews

    padding: 0 0 55px 0
    
    @media ( min-width: $screen-md-min )
        padding: 60px 0 70px 0
    
    @media ( min-width: $screen-xl-min )
        padding: 135px 0 115px 0
        

    
    ul.referenznavigationMobile
        

    ul.referenznavigation
        list-style: none
        padding: 0
        margin: 35px 0 65px 0
        
        @media ( min-width: $screen-xl-min )
            margin: 0 0 60px 0

        li
            color: $color-orange
            list-style: none
            vertical-align: top
            display: inline-block

        li:last-child



        li.arrow
            img
                width: 100%
                height: auto
                max-width: 15px

        li.back
            
            a
                font-size: 0
                background-image: url("../../images/referenzen/Icon_Previous_Project_grey.jpg")
                background-repeat: no-repeat
                background-size: 15px 25px
                width: 15px
                height: 25px
                display: block

        li.next
            
            a
                font-size: 0
                background-image: url("../../images/referenzen/Icon_Next_Project_grey.jpg")
                background-repeat: no-repeat
                background-size: 15px 25px
                width: 15px
                height: 25px
                display: block

                
        li.pagination
            @include font_Karla_Bold()
            @include fontsize(23px)
            margin: 0px 20px 0 15px


    .projectscontent
        //background-color: red
        

        @media ( min-width: $screen-lg-min )
            //position: fixed
            //max-width: 350px
        @media ( min-width: $screen-xl-min )
            //position: fixed
            max-width: 680px
        

            
        .projectscontentTextBox
            @media ( min-width: $screen-xl-min )
            
                padding: 0 30px 0 0

            
            .headline
                margin: 0 0 45px 0
                text-align: left
                @include font_Karla_Bold()
                @include fontsize(20px)
                line-height: normal
                color: $color-darkblue
                
                @media ( min-width: $screen-xl-min )
                    text-align: left
                    margin: 0 0 55px 0
                    @include fontsize(30px)

            .headline:after
                content: ""
                background-color: $color-darkblue
                width: 65px
                height: 2px
                display: block     
                margin: 8px 0 0 0
                @media ( min-width: $screen-xl-min )
                    


            .description

    ul.projectsImages
        padding: 0
        list-style: none
        padding: 60px 0 0 0
        
        @media ( min-width: $screen-xl-min )
            padding: 92px 0 0 0
        
        
        li
            
            margin: 0 0 30px 0
            
            img
                width: 100%
                height: auto
                max-width: 100%
            
        
        li:last-child
            margin: 0 0 0 0
        
    
    
    
