.searchContainer
    
    
    .pageHeadlineContainer
        padding: 70px 0 45px 0
        text-align: center

        
    .rowResult
        //border-bottom: 1px solid $color-mediumgrey
        //padding: 75px 0 75px
        
    .rowHR
        margin: 35px 0 35px 0
        
        @media ( min-width: $screen-md-min )
            margin: 75px 0 75px 0
        
        
    .imageContainer
        border: 1px solid $color-mediumgrey
        
        
        img
            width: 100%
            height: auto
            max-width: 100%
            
            
            
    .noResultsText
        text-align: center
        padding: 50px 0 60px
        
        @media ( min-width: $screen-md-min )
            padding: 50px 0 75px
        
        .noResultText
            
            span
                color: $color-orange
            
    .searchResultContainerText
        
        .searchTitle
            margin: 0 0 15px 0
            
            a
                @include font_Karla_Bold()
                color: $color-darkblue
                @include fontsize(20px)
                
                
            a:hover,
            a:target,
            a:active,
            a:focus
            
        .searchTitle:after
            content: ""
            background-color: $color-darkblue
            width: 36px
            height: 2px
            display: block
            margin: 6px 0 0
            @media ( min-width: $screen-md-min )
                margin: 6px 0 0
                
        .searchExcerpt
            margin: 0 0 25px 0
      
        .searchLinkage
            
            
            
    .searchText
        text-align: center
        padding: 45px 0px
        
        
        @media ( min-width: $screen-md-min )
            padding: 45px 0 115px
        
        
        .phrase
            color: $color-orange
        
            
    .searchFormcontainer
        width: 100%
        max-width: 730px
        margin: 0 auto
        #searchform
            width: 100%

            .search-field,
            .searchsubmit
                height: 46px


            .search-field
                border: 0
                background-color: $color-white
                border-radius: 22px 0px 0 22px
                padding: 4px 4px 4px 24px
                width: calc(100% - 35px)
                outline: 0
                
                border-left: 1px solid $color-mediumgrey
                border-top: 1px solid $color-mediumgrey
                border-bottom: 1px solid $color-mediumgrey

            .searchsubmit
                background-image: url('../../images/modal_search/Icon_Search_grey.png')
                background-size: 18px
                display: inline-block
                background-position: center right 15px
                background-repeat: no-repeat
                font-size: 0
                vertical-align: top
                border: 0
                background-color: $color-white
                padding: 4px
                border-radius: 0 22px 22px 0
                width: 35px
                
                border-right: 1px solid $color-mediumgrey
                border-top: 1px solid $color-mediumgrey
                border-bottom: 1px solid $color-mediumgrey
                
                
                outline: 0
                
                
                
                
    .pagination-container
        
        margin: 60px 0 60px 0
        
        .pagination

            ul
                padding: 0
                list-style: none
                margin: 0 auto
                
                li
                    display: inline-block
                    background-color: $color-darkblue

                    text-align: center
                    color: $color-white
                    @include font_Karla_Bold()
                    line-height: 30px
                    margin: 0 10px 10px 0
                    
                    a
                        
                        @include fontsize(16px)
                        color: $color-white
                        width: 30px
                        height: 30px
                        display: block
                        
                    a:hover
                        
                    span.current
                        background-color: $color-orange
                        width: 30px
                        height: 30px
                        display: block
                        
                        
                li:hover
                    background-color: $color-orange
        
                    
                li:first-child
                
                
                li:last-child
                    margin: 0 0 0 0
            
                
                
                
.m-page-text-centered-search
    padding: 50px 0 140px
    text-align: center
    background-color: transparent
    
    @media (min-width: $screen-sm-min)

    @media (min-width: $screen-md-min)
        padding: 50px 0 160px

    @media (min-width: $screen-lg-min)

    @media (min-width: $screen-xl-min)


    .textContainer
        
        .headline
            margin: 0 0 40px 0
            color: $color-darkgrey
            @include fontsize(18px)
            @include font_Karla_Bold()
            


        .textbox

        .buttonContainer
            margin: 30px 0 0 0
            .button
                

            
            

            
            

            
    
    
    

        

            