// breakpoints

$screen-sm-min: 576px
$screen-sm-max: 767px
$screen-md-min: 768px
$screen-md-max: 991px
$screen-lg-min: 992px
$screen-lg-max: 1199px
$screen-xl-min: 1200px

// Fonts
$defaultFontSize: 16px
$defaultLineHeight: 23px


@function calculateRem($size) 
  $remSize: $size / $defaultFontSize
  @return #{$remSize}rem


@mixin fontsize($size)
  font-size: $size
  font-size: calculateRem($size)


//@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap')


$karla: 'Karla', serif


@font-face 
    font-family: 'Karla-Regular'
    font-style: normal
    font-weight: normal
    font-display: swap
    src: local('Karla'), local('Karla-Regular'),url('../fonts/karla-v13-latin-ext_latin-regular.woff') format('woff')

@font-face 
    font-family: 'Karla-Bold'
    font-style: normal
    font-weight: normal
    font-display: swap
    src: local('Karla Bold'), local('Karla Bold'),url('../fonts/karla-v13-latin-ext_latin-700.woff') format('woff')



@mixin font_Karla_Regular
    font-family: 'Karla-Regular', sans-serif
    font-style: normal
    font-weight: 400
    
@mixin font_Karla_Bold
    font-family: 'Karla-Bold', sans-serif
    font-style: normal
    font-weight: 700
    
    


$color-white: #ffffff
$color-black: #000000
$color-grey: #808080

$color-lightestgrey: #f9f9f9
$color-mediumgrey: #9a9a9a

$color-darkgrey: #212121
$color-darkblue: #13274f
$color-orange: #fc773c




$color-menueLightGrey: #e7e9ed
$color-textgrey: #a1a1a1


$color-form-error: #e74c3c





