.m-page-maps

    padding: 45px 0 30px
    background-color: $color-lightestgrey
    color: $color-darkblue
    
    @media (min-width: $screen-sm-min)
    
    @media (min-width: $screen-md-min)
        padding: 65px 0 50px

    @media (min-width: $screen-lg-min)
        padding: 65px 0 50px

             
    .map-container

        .acf-map
            width: 100%
            height: 270px

            @media (min-width: $screen-sm-min)

            @media (min-width: $screen-md-min)
                height: 255px

            @media (min-width: $screen-lg-min)


            @media (min-width: $screen-xl-min)
                height: 300px  
                
                
                
    .headlineContainer
        
        margin: 0 0 30px 0
        text-align: center
        
        @media (min-width: $screen-sm-min)
            margin: 0 0 43px 0
            text-align: left
        
        
        .headlineSection
            @include fontsize(20px)
            @media (min-width: $screen-sm-min)
                @include fontsize(25px)
                    
            @media (min-width: $screen-sm-min)
                @include fontsize(30px)
            
            
        .headlineSection:after
            margin: 7px auto 0
            @media (min-width: $screen-sm-min)
                margin: 7px 0 0
            
            
            
    .contactContainer
        padding: 0
        list-style: none
        
        margin: 0 0 30px 0
        
        @media (min-width: $screen-md-min)
            margin: 0 0 0 0
            
        
        li
            background-repeat: no-repeat
            background-position: left center
            background-size: 25px auto
            text-indent: 42px
            margin: 0 0 22px 0
            color: $color-darkblue
            min-height: 30px
            
            @media (min-width: $screen-md-min)
                margin: 0 0 35px 0
                
            @media (min-width: $screen-lg-min)
                margin: 0 0 28px 0
                padding: 2px 0 0 0
                background-position: left top
            
            a
                color: $color-darkblue
                
            a:hover,a:target,a:active,a:focus
                color: $color-darkblue
            
            
        li.phone,
        li.mail
            p
                display: inline
                vertical-align: middle    
            
        li.adress
            background-image: url("../../images/modul/maps/icon_Location.png")
            
            
            
        li.phone
            background-image: url("../../images/modul/maps/Icon_phone.png")
            
            
            
        li.mail
            background-image: url("../../images/modul/maps/Icon_email.png")
            
            
        li:first-child
        
        
        li:last-child
            margin: 0 0 0 0

            
            

