.m-page-contactform

    padding: 50px 0 65px
    background-color: $color-white
    //background-color: grey
    //color: $color-white
    
    
    
    
    
    @media (min-width: $screen-sm-min)
    
    @media (min-width: $screen-md-min)
        padding: 80px 0 80px

    @media (min-width: $screen-lg-min)
        padding: 80px 0 100px

    @media (min-width: $screen-xl-min)
        padding: 80px 0 120px
    

    .headlineContainer
        text-align: center
        color: $color-darkblue
        margin: 0 0 30px 0
        @media (min-width: $screen-md-min)
            margin: 0 0 40px 0
        
        
        .headlineSection
            @include fontsize(25px)
            margin: 0
            
            @media (min-width: $screen-xl-min)
                @include fontsize(30px)
                    
        .headlineSection:after
            margin: 6px auto 0
            width: 65px
            
            
    
    .headlineContainerFormular
        text-align: center
        color: $color-darkblue
        margin: 80px 0 40px 0
        @media (min-width: $screen-md-min)
            margin: 115px 0 40px 0
        
        
        .headlineSection
            @include fontsize(25px)
            margin: 0
            
            @media (min-width: $screen-xl-min)
                @include fontsize(30px)
        
        .headlineSection:after
            margin: 6px auto 0
            width: 65px        
            
    .textbox
        text-align: center
        


    .contentContainer
        
        form
            
            .form-group
                margin: 0 0 27px 0
                
                label
                    margin: 0 0 10px 0
                    @include fontsize(16px)
                    
                .wpcf7-form-control-wrap
                    
                    
                    input,
                    textarea
                        border: 1px solid #9a9a9a
                        background-color: $color-white
                        border-radius: 5px
                        outline: 0
                        @include fontsize(15px)
                    
                    input
                        height: 23px
                        padding: 0px 10px

                        
                        
                    textarea
                        height: 130px
                        padding: 10px 10px
                        
                        
                    .wpcf7-not-valid
                        border: 1px solid red
                        
                    .wpcf7-not-valid-tip
                        color: red
                        @include font_Karla_Bold()
                        @include fontsize(13px)
            
            
            
            [type=submit]
                color: $color-darkblue
                border: 1px solid $color-darkblue
                background-color: $color-white
                border-radius: 14px
                height: 28px
                text-align: center
                min-width: 160px
                outline: 0
                @include fontsize(14px)
                cursor: pointer
                
            [type=submit]:hover
                color: $color-white
                border: 1px solid $color-white
                background-color: $color-orange

            
                
            .wpcf7-response-output
                display: none !important

                
                
            .dataprotection
                
                .mandatory
                    color: $color-orange
                    @include fontsize(15px)
                    margin: -23px 0 10px 0 
                    
                    
                .text
                    @include fontsize(13px)
                    line-height: 17px
                    margin: 0 0 15px 0
                
            

