.m-page-uploadliste
    padding: 45px 0 65px
    //color: white
    //text-align: center
    background-color: $color-lightestgrey
    text-align: center
    
    @media (min-width: $screen-sm-min)

    @media (min-width: $screen-md-min)
        padding: 60px 0 75px

    @media (min-width: $screen-lg-min)

    @media (min-width: $screen-xl-min)


    .textContainer
        .headline
            margin: 0 0 40px 0
            color: $color-darkblue
            @include fontsize(20px)
                
            @media ( min-width: $screen-md-min )
                @include fontsize(20px)
            @media ( min-width: $screen-xl-min )
                @include fontsize(30px)

        .headline:after
             
            
            
            
        .headline:after

    .textbox

        ul.listtext
            padding: 0
            list-style: none
            text-indent: 30px
            line-height: normal
            text-align: left
                
            li
                background-image: url("../../images/modul/arrow_right.png")
                background-repeat: no-repeat
                background-size: 18px 18px
                margin-bottom: 15px
                background-position: left center
                
                
            li:last-child
                margin-bottom: 0
          

            
            

    
