/* -------------------------------------------------------------------------------- */
/* FORMAT.CSS (c) 02.2010 A. Kirschbaum   


                                      */
                                      
                                      

/*body     { background-color:#000000 }*/
/*td       { padding:0px;vertical-align:top;overflow:hidden }
td.unten { vertical-align:bottom }
td.mitte { vertical-align:middle }
*/
/*
img      { border-width:0px }
p        { padding:4px;font-family:Arial,Helvetica,sans-serif;font-size:9pt;color:#000000 }
var      { font-style:normal }
a        { text-decoration:none;color:#000000 }
a:hover  { text-decoration:underline;color:#000000 }
h1       { padding:4px;font-family:Arial,Helvetica,sans-serif;font-size:11pt;font-weight:300;font-style:normal;color:#000000 }
h2       { font-family:Arial,Helvetica,sans-serif;font-size:9pt;font-weight:600;font-style:italic;display:inline }
h3       { font-family:Arial,Helvetica,sans-serif;font-size:9pt;font-weight:300;font-style:italic;display:inline }
h4       { font-family:Arial,Helvetica,sans-serif;font-size:9pt;font-weight:300;font-style:normal;display:inline }
form     { padding:0px; }
*/

/*b      { font-weight:600 }
i      { font-style:italic }
strong { font-weight:300;color:#FF3300 }
kbd    { font-family:Arial,Helvetica,sans-serif;font-weight:600;color:#FF3300;font-style:italic }
em     { font-family:Arial,Helvetica,sans-serif;font-weight:300;font-style:normal;letter-spacing:-1px; }
*/

/*p.head       { font-family:Times New Roman,Roman;font-size:16pt;text-align:justify;margin-left:20px }
a.head       { text-decoration:none;color:#000000 }
a.head:hover { text-decoration:none;color:#000000 }

p.off       { padding:4px;font-family:Arial,Helvetica,sans-serif;font-size:8pt;color:#666666 }
a.off       { text-decoration:none;color:#666666 }
a.off:hover { text-decoration:none;color:#000000 }
*/

/*td.our { border-top:2px solid #000000;border-bottom:1px solid #000000;border-right:1px solid #000000;vertical-align:bottom }
td.ou { border-top:2px solid #000000;border-bottom:1px solid #000000;vertical-align:bottom  }
td.or { border-top:2px solid #000000;border-right:1px solid #000000;vertical-align:bottom  }
td.o { border-top:2px solid #000000;vertical-align:bottom  }
td.ur { border-bottom:1px solid #000000;border-right:1px solid #000000 }
td.urb { border-bottom:1px solid #000000;border-right:1px solid #000000;vertical-align:middle }
td.urm { border-bottom:1px solid #000000;border-right:1px solid #000000;text-align:center }
td.u { border-bottom:1px solid #000000 }
td.um { border-bottom:1px solid #000000;text-align:center }
td.ub { border-bottom:1px solid #000000;vertical-align:middle }
td.nr { background-color:#DDDDDD;border-right:1px solid #000000 }
td.n { background-color:#DDDDDD }
td.unr { border-bottom:1px solid #000000;background-color:#DDDDDD;border-right:1px solid #000000 }
td.un { border-bottom:1px solid #000000;background-color:#DDDDDD }
td.r { border-right:1px solid #000000 }
td.a { height:23px;text-align:right }
td.au { height:23px;border-bottom:1px solid #000000;text-align:right }
td.ar { height:23px;border-right:1px solid #000000;text-align:right }
td.aur { height:23px;border-bottom:1px solid #000000;border-right:1px solid #000000;text-align:right }*/

/*.maske { font-family:Arial,Helvetica,sans-serif;font-size:9pt;color:#000000;font-style:normal }*/
/*
.maske{
    height: 23px;
    padding: 0 10px;
    border: 1px solid #9a9a9a;
    border-radius: 5px;
    font-size: 15px;
    margin: 0 5px 15px 8px;
}
*/

/*
@media screen{
  
  table.haupt { width:100%;background-color:#FFFFFF; }
  tr.kopf     { height:100px }
  td.links    { width:120px }
  td.tab      { width:245px }
  td.bild     { width:245px }
  td.rechts   { width:120px; vertical-align:bottom }
  img.tab     { width:245px }
  img.bild    { width:245px }
  img.bild1   { width:135px }
  img.bild2   { width:490px }
  img.bild3   { width:100%;height: auto; }
  img.rand    { width:120px }
  .crt        { display:inline }
  .prt        { display:none }
  .maske2     { font-family:Arial,Helvetica,sans-serif;font-size:9pt;color:#000000;font-style:normal }
  .knopf      { font-family:Arial,Helvetica,sans-serif;font-size:9pt;color:#000000;font-style:normal;background-color:#FFFFFF;width:110px }
}
*/

/*@media print{
  table.haupt { width:625px }
  tr.kopf     { }
  td.links    { display:none }
  td.tab      { width:245px }
  td.bild     { width:135px }
  td.rechts   { display:none }
  img.tab     { width:245px }
  img.bild    { display:none }
  img.bild1   { width:135px }
  img.bild2   { width:490px }
  img.bild3   { width:625px }
  img.rand    { display:none }
  .crt        { display:none }
  .prt        { display:inline }
  .maske2     { display:none }
  .knopf      { display:none }
}*/