.m-page-text
    padding: 50px 0 50px
    //color: white
    
    @media (min-width: $screen-sm-min)

    @media (min-width: $screen-md-min)

    @media (min-width: $screen-lg-min)

    @media (min-width: $screen-xl-min)


    .headlines-container
      
        .headline
            //@include fontsize(20px)
            margin: 0 0 30px 0
            color: $color-darkblue

        .headline:after

            margin: 10px 0 0
            @media ( min-width: $screen-md-min )
                margin: 10px 0 0

    .text-container
        
        
    .textContainer1
        
        
    .textContainer2
        margin: 30px 0 0 0
        
        @media (min-width: $screen-md-min)
            
        @media (min-width: $screen-lg-min)
            margin: 0 0 0 0