.m-page-text-centerered-bemessung
    padding: 50px 0 75px
    //color: white
    
    background-color: $color-white
    color: $color-darkblue
    
    text-align: center
    
    @media (min-width: $screen-sm-min)

    @media (min-width: $screen-md-min)

    @media (min-width: $screen-lg-min)
        padding: 50px 0 100px
        
    @media (min-width: $screen-xl-min)
        


    .textContainer
        
        .headline
            margin: 0 0 40px 0
            //color: $color-darkblue
            

        .headline:after

        .textbox
            
            
            
            
    .textboxMobile
        margin: 50px 0 0 0
        color: $color-form-error
        
        
        
        
    .mobilebutton
        
        margin: 20px 0 0 0
        
        
        
        
        
        
        
.m-page-bemessung-form          
            
    
    
    @media (max-width: $screen-md-max)
        overflow-x: scroll
    
    p
        @include fontsize(12px)
    
    
    .bemessung_bold_headline
        p
            color: #13274f
            font-family: 'Karla-Bold', serif
            font-style: normal
            font-weight: 700
            text-align: center
            margin: 0 0 10px 0
            @include fontsize(15px)
        
    
    .bemessung_bold_headline_2
        p
            color: #13274f
            font-family: 'Karla-Bold', serif
            font-style: normal
            font-weight: 700
            @include fontsize(15px)
            padding: 20px 0 5px 0
            
            
            
            
            
    table.haupt
        width: 100%
        background-color: #FFFFFF
        
    tr.kopf 
        height: 100px

    td.tab
        width: 245px
    td.bild
        width: 245px
    td.rechts
        width: 120px
        vertical-align: bottom 
    img.tab
        width: 245px

    img.bild
        width: 245px

    img.bild1
        width: 135px

    img.bild2
        width: 490px

    img.bild3
        width: 100%
        height: auto


    img.rand
        width: 120px

    .crt
        display: inline 


    .prt
        display:none

    .maske2 
        font-family: Arial,Helvetica,sans-serif
        font-size: 9pt
        color: #000000
        font-style: normal

    .knopf
        font-family:Arial,Helvetica,sans-serif
        font-size: 9pt
        color: #000000
        font-style: normal
        background-color: #FFFFFF
        width: 110px
            
            
    table
        
        .maske
            height: 23px
            padding: 0 10px
            border: 1px solid #9a9a9a
            border-radius: 5px
            font-size: 15px
            margin: 0 5px 15px 8px

        
        
        td
            padding: 0px
            vertical-align: top
            overflow: hidden 
            
        td.unten
            vertical-align: bottom
            
        td.mitte
            vertical-align: middle 
            
        td.our
            border-top: 2px solid #000000
            border-bottom: 1px solid #000000
            border-right: 1px solid #000000
            vertical-align: bottom
            
            
        td.ou 
            border-top: 2px solid #000000
            border-bottom: 1px solid #000000
            vertical-align: bottom
            
        td.or
            border-top: 2px solid #000000
            border-right: 1px solid #000000
            vertical-align: bottom  
            
        td.o 
            border-top: 2px solid #000000
            vertical-align: bottom 
            
        td.ur
            border-bottom: 1px solid #000000
            border-right: 1px solid #000000 
            
        td.urb
            border-bottom: 1px solid #000000
            border-right: 1px solid #000000
            vertical-align: middle 
            
        td.urm
            border-bottom: 1px solid #000000
            border-right: 1px solid #000000
            text-align: center
            
        td.u
            border-bottom: 1px solid #000000
        
        td.um
            border-bottom: 1px solid #000000
            text-align: center
            
        td.ub 
            border-bottom: 1px solid #000000
            vertical-align: middle
        
        td.nr
            background-color: #DDDDDD
            border-right: 1px solid #000000 
            
        td.n 
            background-color: #DDDDDD 
            
        td.unr 
            border-bottom: 1px solid #000000
            background-color: #DDDDDD
            border-right: 1px solid #000000 
            
            
        td.un 
            border-bottom: 1px solid #000000
            background-color: #DDDDDD 
            
        td.r 
            border-right: 1px solid #000000 
            
        td.a 
            height: 23px
            text-align: right 
            
        td.au 
            height: 23px
            border-bottom: 1px solid #000000
            text-align: right 
            
        td.ar
            height: 23px
            border-right: 1px solid #000000
            text-align: right 
            
        td.aur 
            height: 23px
            border-bottom: 1px solid #000000
            border-right: 1px solid #000000
            text-align: right
            
    
    
    

        
