.m-page-fullimage
    //padding: 50px 0 50px
    overflow: hidden
    //color: white
    
    @media (min-width: $screen-sm-min)

    @media (min-width: $screen-md-min)

    @media (min-width: $screen-lg-min)

    @media (min-width: $screen-xl-min)

        
        
    .imageBox
        height: 230px
        background-repeat: no-repeat
        background-size: cover
        background-position: center center
        
        @media (min-width: $screen-sm-min)

        @media (min-width: $screen-md-min)
            height: 350px
            
        @media (min-width: $screen-lg-min)
        
            height: 430px

        
        img
            width: 100%
            height: auto
    