.m-page-contactformsended-vcenter
    
    position: absolute
    width: 100%
    top: 50%
    transform: translate(0, -50%)
    -webkit-transform: translate(0, -50%)
    

.m-page-contactformsended
    padding: 50px 0 50px
    //color: white
    text-align: center
    
    

    
    @media (min-width: $screen-sm-min)

    @media (min-width: $screen-md-min)

    @media (min-width: $screen-lg-min)

    @media (min-width: $screen-xl-min)


    img.sendedicon
        width: 100%
        height: auto
        max-width: 30px
        margin: 0 0 30px 0
        
        
    .textContainer
        
        .headline
            margin: 0 0 40px 0
            color: $color-darkblue
            

        .headline:after
            background-color: $color-darkblue

        .textbox
            
          
            
        .buttonContainer
            margin: 30px 0 0 0
            .button
                
                
