.m-page-spacer


.m-page-spacer-color-white
    background-color: $color-white
    
.m-page-spacer-color-transparent
    background-color: transparent
        
.m-page-spacer-color-lightestgrey
    background-color: $color-lightestgrey   



.m-page-spacer-size-smallest
    padding: 30px 0
    @media (min-width: $screen-sm-min)
        padding: 30px 0
    @media (min-width: $screen-md-min)
        padding: 30px 0
    @media (min-width: $screen-lg-min)
        padding: 30px 0
    @media (min-width: $screen-xl-min)
        padding: 30px 0

.m-page-spacer-size-small
    padding: 60px 0
    @media (min-width: $screen-sm-min)
        padding: 70px 0
    @media (min-width: $screen-md-min)
        padding: 80px 0
    @media (min-width: $screen-lg-min)
        padding: 90px 0
    @media (min-width: $screen-xl-min)
        padding: 100px 0

.m-page-spacer-size-big
    padding: 120px 0
    @media (min-width: $screen-sm-min)
        padding: 140px 0
    @media (min-width: $screen-md-min)
        padding: 160px 0
    @media (min-width: $screen-lg-min)
        padding: 180px 0
    @media (min-width: $screen-xl-min)
        padding: 200px 0
        
        
        
.spacerHideSmartphone     
    @media (max-width: $screen-sm-max)
        display: none !important
        