.m-page-list-products-desktop
    padding: 50px 0 50px
    
    @media (min-width: $screen-md-min)
        padding: 80px 0 100px
    
    @media (min-width: $screen-lg-min)
        padding: 32px 0 130px
        
    @media (min-width: $screen-xl-min)
        padding: 50px 0 130px
    
    .odd
        text-align: center
        @media (min-width: $screen-md-min)
            text-align: left  
    .even
        text-align: center
        @media (min-width: $screen-md-min)
            text-align: right

    .rowMarginBottom    
        margin-bottom: 130px
        

    .imageContainer
        img
            width: 100%
            //max-width: 256px
            height: auto
            
            @media (min-width: $screen-xl-min)
                //max-width: 280px
            

    .contentContainer

        .headlineodd,
        .headlineeven
            color: $color-darkblue
            @include font_Karla_Bold()
            @include fontsize(20px)
            line-height: normal
            position: relative
            margin: 0px 0 22px  
            @media ( min-width: $screen-md-min )
                @include fontsize(20px)
            @media ( min-width: $screen-xl-min )
                @include fontsize(30px)

        .headlineodd:after
            content: ""
            background-color: $color-darkblue
            width: 65px
            height: 2px
            display: block
            //margin: 5px 0 0 0
            position: absolute
            bottom: -8px
            right: 0
            left: 0
            margin: 0 auto


            @media (min-width: $screen-md-min)
                right: unset
                margin: unset


        .headlineeven:after
            content: ""
            background-color: $color-darkgrey
            width: 65px
            height: 2px
            display: block
            //margin: 5px 0 0 0
            position: absolute

            bottom: -8px
            right: 0
            left: 0
            margin: 0 auto

            @media (min-width: $screen-md-min)
                right: 0
                left: unset
                margin: unset

        .textbox
            margin: 0 0 30px 0
            
            @media (min-width: $screen-xl-min)
                //@include fontsize(24px)
                //line-height: normal
        
        
    .contentContainerAnimated
        opacity: 1    

        
    .buttonContainer
        
        .buttonProduct
            background-color: $color-white
            border: 1px solid $color-darkblue
            border-radius: 9999999px
            padding: 6px 29px
            color: $color-darkblue
            @include font_Karla_Bold()
            outline: 0
            display: inline-block


        .buttonProduct:hover,
        .buttonProduct:focus, 
        .buttonProduct:target, 
        .buttonProduct:active 
            //background-color: $color-orange
            //color: $color-white
            //border: 1px solid $color-white
            

            
    .mouseover:hover
        .headlineodd,
        .headlineeven
            color: $color-orange
            
        .headlineodd:after,
        .headlineeven:after
            background-color: $color-orange
            
            
        .buttonProduct
            background-color: $color-orange
            color: $color-white
            border: 1px solid $color-white
            
        