.m-page-list-products-mobile
    padding: 50px 0 50px
   
    .odd
        text-align: center

    .even
        text-align: center

        
        
    .rowMarginBottom    
        margin-bottom: 130px
        

    .imageContainer
        img
            width: 100%
            max-width: 256px
            height: auto
            

    .contentContainer

        .headlineodd,
        .headlineeven
            color: $color-darkblue
            @include font_Karla_Bold()
            @include fontsize(20px)
            line-height: normal
            position: relative
            margin: 30px 0 22px  


        .headlineodd:after
            content: ""
            background-color: $color-darkblue
            width: 65px
            height: 2px
            display: block
            //margin: 5px 0 0 0
            position: absolute
            bottom: -8px
            right: 0
            left: 0
            margin: 0 auto


            @media (min-width: $screen-md-min)
                right: unset
                margin: unset


        .headlineeven:after
            content: ""
            background-color: $color-darkgrey
            width: 65px
            height: 2px
            display: block
            //margin: 5px 0 0 0
            position: absolute

            bottom: -8px
            right: 0
            left: 0
            margin: 0 auto

            @media (min-width: $screen-md-min)
                right: 0
                left: unset
                margin: unset

        .textbox
            margin: 0 0 30px 0
        
        
    .contentContainerAnimated
        opacity: 1    

        
    .buttonContainer
        
        .buttonProduct
            background-color: $color-white
            border: 1px solid $color-darkgrey
            border-radius: 9999999px
            padding: 6px 29px
            color: $color-darkblue
            @include font_Karla_Bold()
            outline: 0
            display: inline-block


        .buttonProduct:hover,
        .buttonProduct:focus, 
        .buttonProduct:target, 
        .buttonProduct:active 
            //background-color: $color-orange
            //color: $color-white
            //border: 1px solid $color-white
            

            
    .mouseover:hover
        .headlineodd,
        .headlineeven
            color: $color-orange
            
        .headlineodd:after,
        .headlineeven:after
            background-color: $color-orange
            
            
        .buttonProduct
            background-color: $color-orange
            color: $color-white
            border: 1px solid $color-white
            
            
            
            
            
            
            
            
            
            
            
            
            
            