.m-references-grid
    overflow: hidden
    padding: 30px 0px
    @media (min-width: $screen-xl-min)
        padding: 30px 0px
    
        

        
		
    ul.gridrefs
        list-style: none
        padding: 0
        font-size: 0px
        width: 100%
        li
            width: 100%
            //height: 100px
            //display: inline-block
            
            @media (min-width: $screen-sm-min)
                float: left
                width: 50%
            
            @media (min-width: $screen-lg-min)
                float: left
                width: 33.33%
            
            
 
            
            a
                display: block
                opacity: 0
                @media (max-width: $screen-md-max)
                    opacity: 1 !important
                    -o-transition-property: none !important
                    -moz-transition-property: none !important
                    -ms-transition-property: none !important
                    -webkit-transition-property: none !important
                    transition-property: none !important
                    /*CSS transforms*/
                    -o-transform: none !important
                    -moz-transform: none !important
                    -ms-transform: none !important
                    -webkit-transform: none !important
                    transform: none !important
                    /*CSS animations*/
                    -webkit-animation: none !important
                    -moz-animation: none !important
                    -o-animation: none !important
                    -ms-animation: none !important
                    animation: none !important
		
		
        
        
    .contentbox:hover
        .content
            .name
                color: $color-orange
                
            .name:after
                width: 75%
                background-color: $color-orange
    
    .contentbox
        padding: 0
        font-size: 0
        padding-bottom: 100%
      
        width: 100%
        //border: 1px solid red
        overflow: hidden
        position: relative


        .content
            font-size: 16px
            color: $color-white
            
            position: absolute
            bottom: 8%
            width: 100%
            text-align: center
            z-index: 1
            
            @include font_Karla_Bold()
            
            .name
                @include fontsize(19px)
                display: inline-block
                max-width: 90%

                @media (min-width: $screen-md-min)
                    @include fontsize(20px)
                        
                @media (min-width: $screen-xl-min)
                    @include fontsize(24px)          
                    
            .name:after
                content: ""
                background-color: $color-white
                width: 65px
                height: 2px
                display: block
                margin: 10px auto 0
                
                -webkit-transition: all .5s ease-out
                transition: all .5s ease-out
                
                
            .city
                @include fontsize(14px)
                margin: 5px 0 0 0
                
                @media (min-width: $screen-md-min)
                    @include fontsize(16px)

                @media (min-width: $screen-xl-min)
                    @include fontsize(20px)               

                
            
        .bgimage
            background-image: url("../../images/test.jpg")
            background-position: center center
            background-size: cover
            width: 100%
            height: 100%
            padding-bottom: 100%
            position: absolute
            transform: scale(1.001)
            -webkit-transform: scale(1.001)
            -webkit-transition: transform .5s ease-in-out
            transition: transform .5s ease-in-out
            
        .bgimage:hover
            background-size: 110%
            transform: scale(1.1)
            -webkit-transform: scale(1.1)
            