.m-page-configurator-result
    //nur top, bottom weil container
    padding-top: 50px
    padding-bottom: 50px
    
    @media (min-width: $screen-sm-min)

    @media (min-width: $screen-md-min)

    @media (min-width: $screen-lg-min)

    @media (min-width: $screen-xl-min)
        
    .headlineSectionConfig
        margin: 0 0 20px 0
        text-align: center
        color: $color-darkblue
        
        @media (min-width: $screen-md-min)
            margin: 0 0 90px 0


    .headlineSectionConfig:after
        

    .resultImageContainer
        
        img
            display: block
            max-width: 100%
            height: auto
            margin: 10px auto 10px
            
            
            @media (min-width: $screen-md-min)
                margin: 30px auto 0
            
            @media (min-width: $screen-lg-min)
                margin: 0 auto
                
    
        
    .resultContainer
        padding: 20px 0 0 0
        
        ul.resultList
            padding: 0
            list-style: none
            font-size: 0
            
            li
                margin: 0 0 5px 0
                
                @media (min-width: $screen-md-min)
                    
                    margin: 0 0 13px 0
                
                
                .result,
                .text
                    display: block
                    
                    @media (min-width: $screen-md-min)
                        display: inline-block
                    
                
                .result
                    text-align: right
                    width: 100%
                    @media (min-width: $screen-md-min)
                        width: 60%
                    
                    span
                        background-color: $color-white
                        border: 1px solid $color-mediumgrey
                        border-radius: 0.25rem
                        padding: 3px 35px
                        color: $color-darkgrey
                        @include font_Karla_Regular()
                        outline: 0
                        display: block
                        width: 98%
                        height: 24px
                        @include fontsize(16px)
                        padding: 3px 5px
                        line-height: 16px
                        padding-right: 15px

                        
                        
                
                .resultunit
                    width: calc( 100% - 45px)
                    display: inline-block
                    @media (min-width: $screen-md-min)
                        width: calc( 60% - 45px)  
                        
                    span
                        background-color: $color-white
                        border: 1px solid $color-mediumgrey
                        border-radius: 0.25rem
                        padding: 3px 35px
                        color: $color-darkgrey
                        @include font_Karla_Regular()
                        outline: 0
                        display: block
                        width: 100%
                        height: 24px
                        @include fontsize(16px)
                        padding: 3px 5px
                        line-height: 16px
                        padding-right: 15px
                    
                .text
                    width: 80%
                    @include fontsize(16px)
                    @include font_Karla_Regular()
                    vertical-align: top
                    margin-bottom: 2px
                    //max-width: 200px
                    
                    @media (min-width: $screen-md-min)
                        width: 40%
                        margin-bottom: 5px
                        
                    .smalltext
                        @include fontsize(11px)
                        vertical-align: sub
                    
                    
                    
                .unit
                    display: inline-block
                    background-color: $color-darkblue
                    color: white
                    padding: 1px
                    height: 24px
                    border-radius: 0 5px  5px 0
                    margin-left: -8px
                    width: 45px
                    /* float: left; */
                    vertical-align: top
                    font-size: 13px
                    margin-top: 0px
                    text-align: center
                    font-size: 11px
                    
            li.errorli
                
                .text
                    color: red
                    
                .result
                    span
                        height: auto
                        padding: 5px
                        line-height: normal
                        color: red
                        
                        
            .resulteinzeloeffnungen
                color: red
                
                    
                
            li:last-child
                margin: 0 0 0 0
            
            
            li:first-child
            
            
         
        
        
        
    .resultButtonContainer
        text-align: center
        padding: 40px 0 0px

        .resultButton     
            background-color: $color-white
            border: 1px solid $color-darkblue
            border-radius: 9999999px
            padding: 3px 35px
            color: $color-darkblue
            @include font_Karla_Bold()
            outline: 0
            display: inline-block
            cursor: pointer


        .resultButton:hover,
        .resultButton:focus, 
        .resultButton:target, 
        .resultButton:active 
            background-color: $color-orange
            color: $color-white
            border: 1px solid $color-white     
            
            
            
        .resultButtonPDF
            background-color: $color-white
            border: 1px solid $color-darkblue
            border-radius: 9999999px
            padding: 3px 35px
            color: $color-darkblue
            @include font_Karla_Bold()
            outline: 0
            display: inline-block
            cursor: pointer


        .resultButtonPDF:hover,
        .resultButtonPDF:focus, 
        .resultButtonPDF:target, 
        .resultButtonPDF:active 
            background-color: $color-orange
            color: $color-white
            border: 1px solid $color-white  
        
        
