.m-page-configurator-loader-modal
	background-color: gray
	width: 100%
	height: 100%
	opacity: 0.5
	z-index: 900
	position: fixed
	left: 0
	top: 0
	display: none
	
.m-page-configurator-loader
	border: 16px solid #f3f3f3
	border-radius: 50%
	border-top: 16px solid #1d294c // for lightblue: #f3f3f3
	width: 90px
	height: 90px
	-webkit-animation: spin 2s linear infinite /* Safari */
	animation: spin 2s linear infinite
	position: fixed
	left: 50%
	top: 50%
	margin-left: -45px
	margin-top: -45px
	z-index: 1000
	display: none
		
/* Safari */
@-webkit-keyframes spin
	0%
		-webkit-transform: rotate(0deg)
	100%
		-webkit-transform: rotate(360deg)

@keyframes spin
	0% 
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)