

.m-page-configurator
    padding: 50px 0 50px
    //color: white
    
    @media (min-width: $screen-sm-min)

    @media (min-width: $screen-md-min)

    @media (min-width: $screen-lg-min)

    @media (min-width: $screen-xl-min)


        
        
    .headlineSectionConfig
        margin: 0 0 40px 0
        text-align: center
        color: $color-darkblue


    .headlineSectionConfig:after


        
        
    .graphContainer
        
        img.graph
            display: block
            margin: 0 auto
            max-width: 100%
            height: auto
        
        
    form.form_configurator
        width: 100%
        
        
        .rowgap
            margin-bottom: 45px
        
        
        .headlineContainer
            margin: 0 0 30px 0
            @media ( min-width: $screen-md-min )
        
            .headline_title
                color: $color-darkblue
                @include fontsize(18px)
                @include font_Karla_Bold()


            .headline_title:after
                content: ""
                background-color: $color-darkblue
                width: 40px
                height: 2px
                display: block
                margin: 5px 0 0
                @media ( min-width: $screen-md-min )
                    margin: 5px 0 0

            .subheadline_title
                @include fontsize(15px)
                @include font_Karla_Regular()
                font-style: italic
        
                
                


            
        label
            @include fontsize(16px)
            @include font_Karla_Regular()
                
            
                
            .smalltext
                @include fontsize(11px)
                //font-style: italic
            
        .requiredasterix
            color: $color-form-error
            
        
        .errorBorder
            border: 1px solid $color-form-error !important
            
            
        .errorMessage
            //display: none
            
            color: $color-form-error
            @include fontsize(13px)
            @include font_Karla_Regular()
            font-style: italic
            
            width: 100%
            line-height: 17px
            margin: 3px 0 0 0

            @media ( min-width: $screen-md-min )
                padding-left: 10px
                width: 85%

            
            
            
            
        
            
            
        ul.openings
            padding: 0
            list-style: none
            display: inline-flex
            justify-content: space-between
            width: 100%
            margin: 0 0 3px 0
            @media ( min-width: $screen-lg-min )
                width: 85%
                margin: 0 0 16px 0
            
            li
                
                //display: inline-block
                font-size: 0
                //width: 20%
                //vertical-align: top
                
                div.desc,
                div.inputbox
                    display: block
                    font-size: 10px
                    
                div.desc
                    @include fontsize(15px)
                    
                    .descsmall
                        @include fontsize(12px)
                    
                div.inputbox   
                    width: 100%
                    max-width: 40px
                    input
                        width: 100%
                        max-width: none
                        
                    input:disabled
                        

                
                
            li:last-child
            
                div.desc,
                div.inputbox
                    
            
            
            li:first-child
       
            
        .iconhintMobile
            background-image: url("../../images/configurator/Icon_Hinweis_blue.jpg")
            background-size: 15px 15px
            background-repeat: no-repeat
            width: 15px
            height: 15px
            //margin: 0 0 0 10px
            display: inline-block
            cursor: pointer
            margin: 0 0 0 10px
            vertical-align: -2px

        .hinttextMobile
            display: none
            //position: absolute
            width: 100%
            background-color: $color-white
            margin: 0 0 13px 0
            //z-index: 1
            //left: 50px
            //padding: 5px
            
            padding: 5px 10px 8px 10px
            border: 1px solid $color-darkblue
            border-radius: 6px
            pointer-events: none

            .first
                color: $color-darkblue
                @include fontsize(16px)
                @include font_Karla_Bold()
                margin: 0 0 3px 0
                background-image: url("../../images/configurator/Icon_Hinweis_blue.jpg")
                background-size: 15px 15px
                background-repeat: no-repeat
                text-indent: 20px
                background-position: top 3px left


            .text
                @include fontsize(13px)
                @include font_Karla_Regular()
                line-height: 19px
            
            

                
                
        .iconhintDesktop
            background-image: url("../../images/configurator/Icon_Hinweis_blue.jpg")
            background-size: 15px 15px
            background-repeat: no-repeat
            width: 15px
            height: 15px
            //margin: 0 0 0 10px
            display: inline-block
            cursor: pointer
            position: absolute
            right: 30px
            top: 5px
                
            .hinttext
                display: none
                position: absolute
                width: 260px
                background-color: $color-white
                z-index: 1
                left: 50px
                padding: 8px 15px 8px 15px
                border: 2px solid $color-darkblue
                border-radius: 6px
                pointer-events: none
        
                .first
                    color: $color-darkblue
                    @include fontsize(18px)
                    @include font_Karla_Bold()
                    margin: 0 0 3px 0
                    background-image: url("../../images/configurator/Icon_Hinweis_blue.jpg")
                    background-size: 15px 15px
                    background-repeat: no-repeat
                    text-indent: 20px
                    background-position: top 3px left
                    
                    
                .text
                    @include fontsize(14px)
                    @include font_Karla_Regular()
                    line-height: 19px


                    


        .inputContainer

            margin-left: unset
            margin-bottom: 23px
            @media ( min-width: $screen-lg-min )
                margin-left: -25px
                margin-bottom: 23px
            
            input,
            select
                display: inline-block
                width: 100%
                outline: 0px !important
                border: 1px solid $color-mediumgrey
                
                @media ( min-width: $screen-lg-min )
                    width: 85%
                

                    
            input.unitform
                
                width: calc(99% - 40px)
                text-align: right
                padding-right: 15px

                
                @media ( min-width: $screen-lg-min )
                    width: calc(85% - 40px)      
                    
                
            input,
            select,
            select.form-control:not([size]):not([multiple])
                height: 23px
                padding: 0px 5px 
                
            input:focus,
            select:focus
                box-shadow: none
                border: 1px solid $color-mediumgrey
                
            input
                
                
                
            select
                
                option
                    @include fontsize(16px)
                    @include font_Karla_Regular()

                
       
            ::placeholder
                color: $color-mediumgrey
                @include fontsize(15px)
            
            ::-webkit-input-placeholder
                color: $color-mediumgrey
                @include fontsize(15px)
            
            ::-ms-input-placeholder
                color: $color-mediumgrey
                @include fontsize(15px)
                

            

            .unit
                display: inline-block
                background-color: $color-darkblue
                color: white
                padding: 1px
                height: 23px
                border-radius: 0 5px  5px 0
                margin-left: -8px
                width: 45px
                /* float: left; */
                vertical-align: top
                font-size: 13px
                margin-top: 0px
                text-align: center
                font-size: 11px
                
                
            .uniteinzeln
                font-size: 11px
                background-color: $color-darkblue
                height: 24px
                margin-top: 23px
                color: white
                width: 30px
                border-radius: 5px
                text-align: center
                line-height: 24px

            
                
                
    .submitconfig     
        background-color: $color-white
        border: 1px solid $color-darkblue
        border-radius: 9999999px
        padding: 3px 35px
        color: $color-darkblue
        @include font_Karla_Bold()
        outline: 0
        display: inline-block
        cursor: pointer
        margin: 0 auto
        display: block

                
    .submitconfig:hover,
    .submitconfig:focus, 
    .submitconfig:target, 
    .submitconfig:active 
        background-color: $color-orange
        color: $color-white
        border: 1px solid $color-white           
                
                
                
                
                
           
        
.pdfHeader
    
    color: white
    width: 100%
    height: 100px
    line-height: 100px
    text-align: center
    margin: 0 0 50px 0
    
    .pdfHeaderBG
        background-color: #13274f
        font-size: 40px
    
    .pdfHeadline
        @include font_Karla_Bold()
        text-align: left
            
    .pdfDate
        @include font_Karla_Bold() 
        font-size: 16px
        
        
        
                
                
.pdfFooter
                
    color: white
    width: 100%
    height: 100px
    text-align: center
    margin: 15px 0 0px 0
    
    .pdfFooterBG
        background-color: #13274f
        padding: 30px 0 30px 0
        
    .logoContainer
        
        img
            width: 100%
            height: auto
            max-width: 80px
            
            
    .pdfText
        font-size: 13px
        text-align: left      
                
                
                
                    
                    
                    
      