.m-page-configurator-modal-contact
    padding: 50px 0 50px
    
    height: 90vh
    
    @media (min-width: $screen-sm-min)

    @media (min-width: $screen-md-min)

    @media (min-width: $screen-lg-min)

    @media (min-width: $screen-xl-min)
        
        
    .modal-dialog
        border: none
        border-radius: 9px
        
        @media (min-width: $screen-sm-min)

        @media (min-width: $screen-md-min)

        @media (min-width: $screen-lg-min)
            max-width: 960px

        @media (min-width: $screen-xl-min)
        
        .modal-content
            border: none
            border: 2px solid $color-darkblue
            
            .modal-header
                border: none

            .modal-body-form
                padding: 0 0 30px 0
                
                
                .headlinemodal
                    @include font_Karla_Bold()
                    @include fontsize(20px)
                    line-height: normal
                    @media ( min-width: $screen-md-min )
                    @include fontsize(30px)   
                    text-align: center
                    margin: 0 0 35px 0
                    
                    @media (min-width: $screen-md-min)
                        margin: 0 0 35px 0
                    
                    
                .headlinemodal:after
                    content: ""
                    background-color: $color-darkblue
                    width: 65px
                    height: 2px
                    display: block
                    margin: 10px auto 0

                .subheadline
                    text-align: center
                    margin: 0 0 50px 0
                    @media (min-width: $screen-md-min)
                        margin: 0 0 50px 0

                .infotext
                    @include font_Karla_Regular()
                    @include fontsize(13px)
                    margin: 0 0 25px 0
                    line-height: 17px
                    
                .mandatory
                    color: $color-form-error
                    margin: -20px 0 5px 0
                    
                .errorBorder
                    border: 1px solid $color-form-error !important
                    
                    
                form
 
                    .form-group
                        margin: 0 0 27px 0
                        
                        label
                            margin: 0 0 10px 0
                            @include fontsize(16px)
                                
                            .asterix
                                color: $color-form-error
                            
                        input,
                        textarea
                            
                            
                        input
                            height: 23px
                            padding: 0px 10px
                            
                        textarea
                            height: 130px
                            padding: 10px 10px    
                            
                            
                            

                        .sendbutton    
                            background-color: $color-white
                            border: 1px solid $color-darkgrey
                            border-radius: 9999999px
                            padding: 3px 35px
                            color: $color-darkgrey
                            @include font_Karla_Bold()
                            outline: 0
                            display: inline-block
                            cursor: pointer
                            margin: 10px auto 10px
                            display: block

                        .sendbutton:hover,
                        .sendbutton:focus, 
                        .sendbutton:target, 
                        .sendbutton:active 
                            background-color: $color-orange
                            color: $color-white
                            border: 1px solid $color-white  
                            
                            
                            
        .modal-body-form-sended
            display: none
            padding: 0 0 30px 0
            
            img.Confirmationtick
                width: 100%
                max-width: 30px
                height: auto
                display: block
                margin: 20px auto 20px
                
                
            .textbox
                text-align: center
                color: $color-darkblue
                @include font_Karla_Regular()
                @include fontsize(15px)
                margin: 0 0 30px 0
            
            
            .closeButtonContainer
                text-align: center
                //padding: 40px 0 0px

                .closeResultButton     
                    background-color: $color-white
                    border: 1px solid $color-darkgrey
                    border-radius: 9999999px
                    padding: 3px 35px
                    color: $color-darkgrey
                    @include font_Karla_Bold()
                    outline: 0
                    display: inline-block
                    cursor: pointer


                .closeResultButton:hover,
                .closeResultButton:focus, 
                .closeResultButton:target, 
                .closeResultButton:active 
                    background-color: $color-orange
                    color: $color-white
                    border: 1px solid $color-white
                    
                    
.m-page-configurator-modal-contact-error-unable-calculate
    padding: 50px 0 50px
    
    height: 90vh
    
    @media (min-width: $screen-sm-min)

    @media (min-width: $screen-md-min)

    @media (min-width: $screen-lg-min)

    @media (min-width: $screen-xl-min)
        
        
    .modal-dialog
        border: none
        border-radius: 9px
        
        @media (min-width: $screen-sm-min)

        @media (min-width: $screen-md-min)

        @media (min-width: $screen-lg-min)
            max-width: 960px

        @media (min-width: $screen-xl-min)
        
        .modal-content
            border: none
            border: 2px solid $color-darkblue
            
            .modal-header
                border: none

            .modal-body-form-error-calculate
                padding: 0 0 30px 0
                
                
                .headlinemodal
                    @include font_Karla_Bold()
                    @include fontsize(20px)
                    line-height: normal
                    @media ( min-width: $screen-md-min )
                    @include fontsize(30px)   
                    text-align: center
                    margin: 0 0 35px 0
                    
                    @media (min-width: $screen-md-min)
                        margin: 0 0 35px 0
                    
                    
                .headlinemodal:after
                    content: ""
                    background-color: $color-darkblue
                    width: 65px
                    height: 2px
                    display: block
                    margin: 10px auto 0

                .subheadline
                    text-align: center
                    margin: 0 0 50px 0
                    @media (min-width: $screen-md-min)
                        margin: 0 0 50px 0

                .infotext
                    @include font_Karla_Regular()
                    @include fontsize(13px)
                    margin: 0 0 25px 0
                    line-height: 17px
                    
                .mandatory
                    color: $color-form-error
                    margin: -20px 0 5px 0
                    
                .errorBorder
                    border: 1px solid $color-form-error !important
                    
                    
                form
 
                    .form-group
                        margin: 0 0 27px 0
                        
                        label
                            margin: 0 0 10px 0
                            @include fontsize(16px)
                                
                            .asterix
                                color: $color-form-error
                            
                        input,
                        textarea
                            
                            
                        input
                            height: 23px
                            padding: 0px 10px
                            
                        textarea
                            height: 130px
                            padding: 10px 10px    
                            
                            
                            

                        .sendbuttoncontacterrorcalculate    
                            background-color: $color-white
                            border: 1px solid $color-darkgrey
                            border-radius: 9999999px
                            padding: 3px 35px
                            color: $color-darkgrey
                            @include font_Karla_Bold()
                            outline: 0
                            display: inline-block
                            cursor: pointer
                            margin: 10px auto 10px
                            display: block

                        .sendbuttoncontacterrorcalculate:hover,
                        .sendbuttoncontacterrorcalculate:focus, 
                        .sendbuttoncontacterrorcalculate:target, 
                        .sendbuttoncontacterrorcalculate:active 
                            background-color: $color-orange
                            color: $color-white
                            border: 1px solid $color-white  
                            
                            
                            
        .modal-body-form-sended-error-calculate
            display: none
            padding: 0 0 30px 0
            
            img.Confirmationtick
                width: 100%
                max-width: 30px
                height: auto
                display: block
                margin: 20px auto 20px
                
                
            .textbox
                text-align: center
                color: $color-darkblue
                @include font_Karla_Regular()
                @include fontsize(15px)
                margin: 0 0 30px 0
            
            
            .closeButtonContainer
                text-align: center
                //padding: 40px 0 0px

                .closeResultButton     
                    background-color: $color-white
                    border: 1px solid $color-darkgrey
                    border-radius: 9999999px
                    padding: 3px 35px
                    color: $color-darkgrey
                    @include font_Karla_Bold()
                    outline: 0
                    display: inline-block
                    cursor: pointer


                .closeResultButton:hover,
                .closeResultButton:focus, 
                .closeResultButton:target, 
                .closeResultButton:active 
                    background-color: $color-orange
                    color: $color-white
                    border: 1px solid $color-white                  
                    
                    
.m-page-configurator-modal-error
    padding: 50px 0 50px
    padding: 50px 0 50px
    height: 90vh
    
    @media (min-width: $screen-sm-min)

    @media (min-width: $screen-md-min)

    @media (min-width: $screen-lg-min)

    @media (min-width: $screen-xl-min)
        
        
    .modal-dialog
        border: none
        border-radius: 9px
        
        @media (min-width: $screen-sm-min)

        @media (min-width: $screen-md-min)

        @media (min-width: $screen-lg-min)
            max-width: 960px

        @media (min-width: $screen-xl-min)
        
        .modal-content
            border: none
            border: 2px solid $color-darkblue
            
            
            .modal-header
                border: none
                
                
                
            .modal-body-form-error
                padding: 0 0 30px 0
                
                
                img.iconError
                    width: 100%
                    max-width: 30px
                    height: auto
                    display: block
                    margin: 20px auto 20px
                
                
                
                .headlinemodal
                    @include font_Karla_Bold()
                    @include fontsize(20px)
                    line-height: normal
                    @media ( min-width: $screen-md-min )
                    @include fontsize(30px)   
                    text-align: center
                    margin: 0 0 35px 0
                    
                    @media (min-width: $screen-md-min)
                        margin: 0 0 35px 0
                    
                    
                .headlinemodal:after
                    content: ""
                    background-color: $color-darkblue
                    width: 65px
                    height: 2px
                    display: block
                    margin: 10px auto 0

                .subheadline
                    text-align: center
                    margin: 0 0 50px 0
                    @media (min-width: $screen-md-min)
                        margin: 0 0 50px 0

                .infotext
                    @include font_Karla_Regular()
                    @include fontsize(13px)
                    margin: 0 0 25px 0
                    line-height: 17px
                    
                .mandatory
                    color: $color-form-error
                    margin: -20px 0 5px 0
                    
                .errorBorder
                    border: 1px solid $color-form-error !important
                    
                    
                form
 
                    .form-group
                        margin: 0 0 27px 0
                        
                        label
                            margin: 0 0 10px 0
                            @include fontsize(16px)
                                
                            .asterix
                                color: $color-form-error
                            
                        input,
                        textarea
                            
                            
                        input
                            height: 23px
                            padding: 0px 10px
                            
                        textarea
                            height: 130px
                            padding: 10px 10px    
                            
                            
                            

                        .sendbuttonError    
                            background-color: $color-white
                            border: 1px solid $color-darkgrey
                            border-radius: 9999999px
                            padding: 3px 35px
                            color: $color-darkgrey
                            @include font_Karla_Bold()
                            outline: 0
                            display: inline-block
                            cursor: pointer
                            margin: 10px auto 10px
                            display: block

                        .sendbuttonError:hover,
                        .sendbuttonError:focus, 
                        .sendbuttonError:target, 
                        .sendbuttonError:active 
                            background-color: $color-orange
                            color: $color-white
                            border: 1px solid $color-white  
                            
                            
                            
        .modal-body-form-sended-error
            display: none
            padding: 0 0 30px 0
            
            img.iconError
                width: 100%
                max-width: 30px
                height: auto
                display: block
                margin: 20px auto 20px
                
                
            .textbox
                text-align: center
                color: $color-darkblue
                @include font_Karla_Regular()
                @include fontsize(15px)
                margin: 0 0 30px 0
            
            
            .closeButtonContainerError
                text-align: center
                //padding: 40px 0 0px

                .closeResultButton     
                    background-color: $color-white
                    border: 1px solid $color-darkgrey
                    border-radius: 9999999px
                    padding: 3px 35px
                    color: $color-darkgrey
                    @include font_Karla_Bold()
                    outline: 0
                    display: inline-block
                    cursor: pointer


                .closeResultButton:hover,
                .closeResultButton:focus, 
                .closeResultButton:target, 
                .closeResultButton:active 
                    background-color: $color-orange
                    color: $color-white
                    border: 1px solid $color-white
                    
                    
                    
                    
                    
                    

.m-page-configurator-modal-beamup-wait            
            
    padding: 50px 0 50px
    
    @media (min-width: $screen-sm-min)

    @media (min-width: $screen-md-min)

    @media (min-width: $screen-lg-min)

    @media (min-width: $screen-xl-min)
        
        
    .modal-dialog
        border: none
        border-radius: 9px

        @media (max-width: $screen-sm-max)
            max-width: 90%
            margin: 0 auto
            
        @media (min-width: $screen-sm-min)

        @media (min-width: $screen-md-min)

        @media (min-width: $screen-lg-min)
            //max-width: 960px

        @media (min-width: $screen-xl-min)
        
        .modal-content
            border: none
            border: 2px solid $color-darkblue
            
            
            .modal-header
                border: none
                display: none
                
                
                
            .modal-body-modal-waiting
                //padding: 0 0 30px 0
                
                .loadingAnimationContainer
                    position: relative
                    height: 20px
                    margin-bottom: 30px
                    border: 1px solid $color-darkblue
                    padding: 1px
                    
                    .percenttext
                        font-size: 14px
                        font-weight: bold
                        
                    
                    .loadingbar
                        
                        height: 16px
                        width: 33%
                        background-color: $color-darkblue
                
                
                img.iconError
                    width: 100%
                    max-width: 30px
                    height: auto
                    display: block
                    margin: 20px auto 20px
                

                .headlinemodal
                    @include font_Karla_Bold()
                    @include fontsize(20px)
                    line-height: normal
                    @media ( min-width: $screen-md-min )
                    @include fontsize(30px)   
                    text-align: center
                    margin: 0 0 35px 0
                    
                    @media (min-width: $screen-md-min)
                        margin: 0 0 35px 0
                    
                    
                .headlinemodal:after
                    content: ""
                    background-color: $color-darkblue
                    width: 65px
                    height: 2px
                    display: block
                    margin: 10px auto 0

                .subheadline
                    text-align: center
                    margin: 0 0 25px 0
                    @media (min-width: $screen-md-min)
                        margin: 0 0 25px 0

                .infotext
                    @include font_Karla_Regular()
                    @include fontsize(13px)
                    margin: 0 0 25px 0
                    line-height: 17px
                    

            
            
       
.m-page-configurator-modal-pdf          
            
    padding: 50px 0 50px
    
    @media (min-width: $screen-sm-min)

    @media (min-width: $screen-md-min)

    @media (min-width: $screen-lg-min)

    @media (min-width: $screen-xl-min)
        
        
    .modal-dialog
        border: none
        border-radius: 9px

        @media (max-width: $screen-sm-max)
            max-width: 90%
            margin: 0 auto
            
        @media (min-width: $screen-sm-min)

        @media (min-width: $screen-md-min)

        @media (min-width: $screen-lg-min)
            //max-width: 960px

        @media (min-width: $screen-xl-min)
        
        .modal-content
            border: none
            border: 2px solid $color-darkblue
            
            
            .modal-header
                border: none
                display: none
                
                
                
            .modal-body-modal-pdf
                //padding: 0 0 30px 0
                
                
                img.iconError
                    width: 100%
                    max-width: 30px
                    height: auto
                    display: block
                    margin: 20px auto 20px
                

                .headlinemodal
                    @include font_Karla_Bold()
                    @include fontsize(20px)
                    line-height: normal
                    @media ( min-width: $screen-md-min )
                    @include fontsize(30px)   
                    text-align: center
                    margin: 0 0 35px 0
                    
                    @media (min-width: $screen-md-min)
                        margin: 0 0 35px 0
                    
                    
                .headlinemodal:after
                    content: ""
                    background-color: $color-darkblue
                    width: 65px
                    height: 2px
                    display: block
                    margin: 10px auto 0

                .subheadline
                    text-align: center
                    margin: 0 0 25px 0
                    @media (min-width: $screen-md-min)
                        margin: 0 0 25px 0

                .infotext
                    @include font_Karla_Regular()
                    @include fontsize(13px)
                    margin: 0 0 25px 0
                    line-height: 17px
                    
                    
                    
                .pdfButtonContainer    
                    text-align: center
                    padding: 0 0 20px 0
                    
                    .button95Dark    

