.m-page-product-detail_page_desktop

    
    //color: white
    background-color: $color-lightestgrey
    
    
    padding: 50px 0 60px
    
    @media ( min-width: $screen-lg-min )
        padding: 50px 0 50px
            
            
    .loadingAnimation
        position: absolute
        z-index: 1
        display: block
        width: 100%
        text-align: center
        background-color: rgba(255,255,255,.5)
        height: 100%
        
        
        .lds-facebook
            display: inline-block
            position: absolute
            width: 87px
            height: 87px
            left: 50%
            top: 50%
            transform: translate(-50%, -50%)
            -webkit-transform: translate(-50%, -50%)
            background-color: $color-orange
        
        .lds-facebook div
            display: inline-block
            position: absolute
            left: 8px
            width: 16px
            background: #fff
            animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite
        
        .lds-facebook div:nth-child(1)
            left: 10px
            animation-delay: -0.24s
        
        .lds-facebook div:nth-child(2)
            left: 35px
            animation-delay: -0.12s
        
        .lds-facebook div:nth-child(3)
            left: 60px
            animation-delay: 0
        
        @keyframes lds-facebook
            0%
                top: 3px
                height: 70px
            50%, 100%
                top: 24px
                height: 44px
    
    
    .containerImage
        
        object
            width: 100%
            height: auto
            
            
    .containerContent
        position: relative
        @media ( max-width: $screen-lg-max )
            pointer-events: none
        
       
        ul.textlist li
            display: none
            @media ( max-width: $screen-lg-max )
                display: none !important
        
        
        ul.textlist
            @media ( max-width: $screen-lg-max )
                display: none !important
            
          
            box-shadow: 0px 3px 10px 0px rgba(39, 39, 39, 0.15)
            background-color: $color-white
            
            padding: 30px
            border-radius: 20px
            position: absolute
            z-index: 1
            top: 290px
            left: 200px
            list-style: none
            margin: 0
            
            width: 100%
            max-width: 350px
            
            @media ( min-width: $screen-md-min )
                display: none
                top: 280px
                
            @media ( min-width: $screen-lg-min )
                top: 350px
                
            @media ( min-width: $screen-xl-min )
                top: 400px
            
        
            li
                
                .head
                    color: $color-orange
                    @include font_Karla_Bold()
                    @include fontsize(16px)
                    margin: 0 0 10px 0
                    
                        
                .head:after
                    content: ""
                    background-color: $color-orange
                    width: 30px
                    height: 2px
                    display: block
                    margin: 2px 0 0

                
                .body
                    @include fontsize(16px)
                    line-height: 24px
               


            li:last-child

            
            
            
    .rowMobileContainer
        
        
        @media ( min-width: $screen-xl-min )
            display: none
        
        .mobileContainer
            visibility: hidden

        .containerSliderProductDetail


            .customdots
                -webkit-tap-highlight-color: transparent
                text-align: center

                .owl-dot
                    outline: 0
                    -webkit-appearance: none
                    background: 0 0
                    border: none
                    display: inline-block
                    width: 7px
                    height: 7px
                    padding: 0
                    margin: 0 5px

                    span
                        background-color: $color-grey
                        opacity: .7
                        border: 1px solid white
                        width: 7px
                        height: 7px
                        border-radius: 9999px
                        display: block


                .owl-dot.active
                    span
                        background-color: $color-orange
                        opacity: 1

            .owlCarouseldetailproduct



                .owl-stage

                    .owl-item

                        .slide

                            .contentContainer
                                width: calc(100% - 10px) // minus box-shadow
                                margin: 10px auto
                                box-shadow: 0px 3px 10px 0px rgba(39, 39, 39, 0.15)

                                background-color: $color-white
                                padding: 20px
                                border-radius: 7px
                                .head
                                    color: $color-orange
                                    @include font_Karla_Bold()
                                    @include fontsize(16px)
                                    margin: 0 0 10px 0


                                .head:after
                                    content: ""
                                    background-color: $color-orange
                                    width: 30px
                                    height: 2px
                                    display: block
                                    margin: 2px 0 0


                                .text
                                    @include fontsize(14px)
                                    line-height: 24px





        .ctrlButtonPrev,
        .ctrlButtonNext
            width: 100%
            height: auto
            max-width: 10px

            position: absolute
            left: 0
            right: 0
            margin: 0 auto
            top: 50%
            transform: translate(0, calc(-50% + 10px))
            -webkit-transform: translate(0, calc(-50% + 10px))

            cursor: pointer
        
        
    

