.m-page-product-detail-text
    padding: 50px 0 50px
    //color: white
    text-align: center
    background-color: $color-lightestgrey
    
    @media (min-width: $screen-sm-min)

    @media (min-width: $screen-md-min)

    @media (min-width: $screen-lg-min)

    @media (min-width: $screen-xl-min)


    .textContainer
        
        .headline
            margin: 0 0 40px 0
            color: $color-darkblue
            

        .headline:after
            background-color: $color-darkblue

        .textbox
            
          
            

                
                
                

            

    
    

        
