.m-page-textlist
    padding: 45px 0 65px
    //color: white
    //text-align: center
    background-color: $color-lightestgrey
    
    @media (min-width: $screen-sm-min)

    @media (min-width: $screen-md-min)
        padding: 60px 0 75px

    @media (min-width: $screen-lg-min)

    @media (min-width: $screen-xl-min)


    .textContainer
        

        
        .headline
            margin: 0 0 40px 0
            display: inline-block
            @include fontsize(18px)
            @include font_Karla_Bold()
            
            background-image: url("../../images/modul/textlist/Icon_Hinweis_blue.jpg")
            background-repeat: no-repeat
            background-size: 15px 15px
            //text-indent: 23px
            background-position: top 3px left
            padding: 0 0 0 35px
            color: $color-darkblue
            
            
            
            
        .headline:after

        .textbox
            
          

            
            
    ul.listtext
        padding: 0
        margin: 0
        padding-left: 20px
        margin-left: 20px
        
        li

            list-style: none
            margin: 0 0 7px 0
            
        li:before
            content: "- "
            margin-left: -10px
            
            
        li:first-child
        
        li:last-child
            margin: 0 0 0 0
            
            
.m-page-textlist-transparent
    background-color: transparent

.m-page-textlist-lightestgrey
    background-color: $color-lightestgrey

.m-page-textlist-white
    background-color: $color-white

.m-page-textlist-blue
    background-color: $color-darkblue
    color: $color-white
    
