.m-page-hero-video
    overflow: hidden
    background-color: $color-white
    
    //https://stripesgenerator.com/
    
    background-image: linear-gradient(131deg, $color-white 25%, $color-lightestgrey 25%, $color-lightestgrey 50%, $color-white 50%, $color-white 75%, $color-lightestgrey 75%, $color-lightestgrey 100%)
    background-image: -webkit-linear-gradient(319deg, $color-white 25%, $color-lightestgrey 25%, $color-lightestgrey 50%, $color-white 50%, $color-white 75%, $color-lightestgrey 75%, $color-lightestgrey 100%)
    background-size: 40.00px 46.01px
    height: 320px
    
    
    @media (min-width: $screen-xl-min)
        height: 487px
    
    
    .containerCustomWidth
        max-width: 100%
        @media (min-width: $screen-xl-min)

        @media (min-width: 1600px)
            //max-width: 80%
            
        @media (min-width: 2000px)
            //max-width: 70%
    
    .playButtonContainer
        position: absolute
        z-index: 1
        text-align: center
        width: calc(100% - 30px)
        height: 100%
        pointer-events: none
        
        .playButtonContainerRelative
            position: relative
            height: 100%
        
        
        .iconplay
            width: 100%
            max-width: 70px
            height: auto
            top: 50%
            left: 50%
            position: relative
            transform: translate(-50%, -50%)
            -webkit-transform: translate(-50%, -50%)
            cursor: pointer
            pointer-events: all
            
            display: block
    
    
    .videoHTMLContainer
        height: 100%
    
        video
            width: 100%
            height: auto
            display: block
          
            height: 100%
            width: auto

            left: 50%
            top: 50%
            position: absolute
            transform: translate(-50%, -50%)
            -webkit-transform: translate(-50%, -50%)
            
            @media (min-width: 768px)
                
                width: 110%
                height: auto

            
            @media (min-width: $screen-lg-min)
                width: 105%
            
            @media (min-width: 1400px)
                width: 100%