.m-page-text-centered
    padding: 50px 0 50px
    //color: white
    text-align: center
    
    @media (min-width: $screen-sm-min)

    @media (min-width: $screen-md-min)

    @media (min-width: $screen-lg-min)
        padding: 46px 0 50px
        
    @media (min-width: $screen-xl-min)
        


    .textContainer
        

        .headline
            margin: 0 0 40px 0
            //color: $color-darkblue
            @include fontsize(20px)
                
            @media ( min-width: $screen-md-min )
                @include fontsize(20px)
            @media ( min-width: $screen-xl-min )
                @include fontsize(30px)

        .headline:after

        .textbox
            
            ul
                padding-left: 22px
                list-style-position: inside
                text-indent: -21px
                
                li
                    
            ol
                padding-left: 22px
                list-style-position: inside
                text-indent: -21px
                
                
                li
            
          
            
        .buttonContainer
            margin: 20px 0 0 0
            .button
                
                
                
        .videobox
            padding: 0 0 50px 0
            @media (min-width: $screen-md-min)
                padding: 20px 0 70px 0
            
            
            .embedContainer
                position: relative
                padding-bottom: 56.25%
                overflow: hidden
                max-width: 100%
                height: auto

                //margin: 0 0 50px 0


            .embedContainer iframe,
            .embedContainer object,
            .embedContainer embed
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
            
            
.m-page-text-centered-transparent
    background-color: transparent
    color: $color-darkblue

.m-page-text-centered-lightestgrey
    background-color: $color-lightestgrey
    color: $color-darkblue

.m-page-text-centered-white
    background-color: $color-white
    color: $color-darkblue

.m-page-text-centered-blue
    background-color: $color-darkblue
    color: $color-white
    
    .textContainer
        .headline:after
            background-color: $color-white
            
   
            
.m-page-text-centered-transparent,
.m-page-text-centered-white,
.m-page-text-centered-lightestgrey   
    .textContainer
        .headline:after
            //background-color: $color-darkgrey
            
            
.m-page-text-centered-blue
    .textContainer
        .headline:after
            background-color: $color-white
            
            
    
    
    

        
